.input {
  border: 1px solid var(--gray);
  padding: var(--pt2);
  font-size: 17px;
  line-height: 26px;
  font-family: var(--body-font);
  margin-bottom: var(--pt2);
  width: 100%;
  /* remove border-radius on iphone */
  border-radius: 0;
  -webkit-appearance: none;
  resize: both;
  background-color: var(--white);
}

.input:focus {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
}

.label {
  display: block;
  margin-bottom: var(--pt2);
}
