.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}

.link {
  color: var(--mine-shaft);
}

.separator {
  padding: 0 var(--pt05);
}

/* 
* Focus
*
*/

.link:focus {
  color: var(--blue);
  text-decoration: underline;
}

/**
* Disabled 
*
*/

.disabled {
  pointer-events: none;
  cursor: default;
}

/**
* Skeleton
*
*/

.skeleton {
  position: relative;
  margin-bottom: var(--pt05);
}
