.dropdown_inputs_wrapper {
  padding-block: var(--pt4);
}

.flex_wrapper {
  display: flex;
  gap: var(--pt1);
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown_with_title {
  display: flex;
  flex-direction: column;
  row-gap: var(--pt1_5);
}

.dropdownTitle {
  margin-bottom: var(--pt1);
  display: flex;
  align-items: center;
}
.subTitle {
  font-style: italic;
  margin-left: var(--pt2);
}
