.dropdown_inputs_wrapper {
  padding-top: var(--pt4);
}

.dropdownTitle {
  display: flex;
  align-items: center;
}

/* TODO: Comment in when worktypes are ready */
/*.subTitle {*/
/*  font-style: italic;*/
/*  margin-left: var(--pt2);*/
/*}*/

.flex_wrapper {
  display: flex;
  gap: var(--pt1);
  padding-top: var(--pt2);
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown_with_title {
  display: flex;
  flex-direction: column;
  row-gap: var(--pt05);
}
