.link {
  color: var(--mine-shaft);
  text-decoration: none;
  text-decoration-color: var(--blue);
}

.border {
  position: relative;
  text-decoration: none;
  /* !Dangerous: Prevent multiline */
  white-space: nowrap;
  display: inline-block;
}

/* Hover + Focus */
.link.border:focus,
.link.border:hover {
  color: var(--blue);
  text-decoration: none;
}

.link.border:hover > div {
}

.link.border:focus > div > hr:last-child,
.link.border:hover > div > hr:last-child {
  display: none;
}

.link.border:focus > div > hr,
.link.border:hover > div > hr {
  transform: scale(1);
}
