.background {
  background-color: var(--concrete);
}

.presentation {
  padding: var(--pt8) 0;
}

.breadcrumbs {
  padding: 0 var(--pt2) var(--pt5) 0;
}

.cover {
  padding: 0 0 var(--pt2) 0;
}

.ornament {
  margin: var(--pt3) 0;
}

.creators {
  text-transform: capitalize;
}

.actions {
  padding: var(--pt5) 0 0 0;
}

.materials button {
  margin: 0 var(--pt2) var(--pt2) 0;
}

.materials button:last-child {
  margin: 0 0 var(--pt2) 0;
}

.basket {
  padding: var(--pt3) 0 0 0;
}

.info {
  padding: var(--pt2) 0 0 0;
}

/* 
* Skeleton
*
*/

.skeleton {
  background-color: white;
}
