.search {
  display: flex;
  height: fit-content;
  position: relative;
}

.search:is(:focus, :focus-visible, :hover) {
  z-index: 1;
}

.wrapper {
  width: 100%;

  --underline-middle-hover-color: var(--link-background);
  --underline-font-hover-color: var(--mine-shaft);

  --underline-top-hover-color: var(--blue);
  --underline-bottom-hover-color: var(--blue);
  --underline-bottom-color: var(--iron);
  --underline-top-color: var(--iron);
  margin-bottom: calc(var(--underline-height) * -1);
}

.row_wrapper {
  width: auto;
  display: grid;
  --grid_template_columns: 1fr 7fr;
  grid-template-columns: var(--grid_template_columns);
  justify-content: space-between;
  margin-top: var(--pt2);
  margin-bottom: var(--pt2);
  gap: var(--pt4);
  padding-left: var(--pt1);
}

.col_wrapper {
  display: flex;
  flex-direction: column;
  padding-right: var(--pt2);
}

.display_inline {
  display: inline;
  margin-right: var(--pt3);
}

.wrap_3_lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 32px; /* fallback */
  max-height: calc(32px * 3); /* fallback */
}

.materials {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--pt2);
  column-gap: var(--pt2);
  row-gap: var(--pt05);
  align-items: center;
  --underline-bottom-color: var(--blue);
  --underline-middle-hover-color: var(--transparent);
}

.material > a {
  display: flex;
}

.material > a > span {
  padding-top: 1px;
}

.creator {
  margin-top: var(--pt1);
}

.cover img {
  box-sizing: border-box;
  object-position: 50% 0%;
}
.cover {
  max-height: 160px;
  min-height: 160px;
  min-width: 104px;
  max-width: 104px;
}

@media (max-width: 380px) {
  .col_wrapper {
    max-width: 120px;
  }
}

@media (max-width: 430px) {
  .col_wrapper {
    max-width: 200px;
  }
}

@media (min-width: 992px) {
  .wrapper:first-child {
    margin-top: 0;
  }

  .row_wrapper {
    --grid_template_columns: 1fr 7fr;
  }
}

.row_wrapper:hover button {
  border-color: var(--gray);
}

.row_wrapper button:hover {
  border-color: var(--blue);
}

.BookmarkDropdown {
  position: absolute;
  right: var(--pt1);
  top: var(--pt2);
}
.BookmarkDropdown button {
  border: 1px solid transparent;
}
