.linkshowless {
  margin: auto 0 auto 0;
}
.hide {
  display: none;
}

.flexnav {
  display: none;
  width: 100%;
}

.buttonflexnav {
  display: flex;
  width: 100%;
  padding-right: var(--pt4);
  transform: translateX(var(--pt15));
}

.flex {
  /* flex-grow: 2; */
  display: flex;
  flex-wrap: wrap;
}

.suggesterright {
  display: flex;
  width: 100%;
  height: 50%;
}

.button {
  position: relative;
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  font-family: var(--body-font);
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  overflow: hidden;
  margin-left: var(--pt05);
  padding: var(--pt2) var(--pt10) var(--pt2) var(--pt10);
}

.button span {
  color: var(--blue);
  position: relative;
  z-index: 2;
  border-width: 3px;
}

.button .fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  transition-duration: 0.2s;
  z-index: 1;
  opacity: 0;
}

.button:hover > .fill,
.button:focus-visible > .fill {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.button:hover > span,
.button:focus-visible > span {
  color: white;
}

.buttoninline {
  padding: var(--pt2) var(--pt5) 0 0;
}

.labelinline {
  padding: var(--pt2);
  border-right: none;
  background-color: var(--cyan);
  min-width: 125px;
  height: 100%;
  text-align: right;
}

.wrapper {
}

@media (min-width: 992px) {
  .flexnav {
    display: flex;
    padding-top: var(--pt2);
  }
}
