.section {
  padding-top: var(--pt2);
}

.section.noRelatedSubjects {
  padding-top: var(--pt1);
}

.section :global(.section-title) {
  padding-bottom: 0;
}

.filterButton {
  margin-bottom: var(--pt2);
  width: fit-content;
}

.topbar-visible {
  top: 0;
  transition-duration: 0.3s;
}

@media (min-width: 992px) {
  .section {
    padding-top: var(--pt1);
  }

  .section.noRelatedSubjects {
    padding-top: unset;
  }

  .filterButton:not(.visible) {
    display: none;
  }

  .visible {
  }
}
