.section :global(.section-title) {
  padding-bottom: 0;
}

.facetsContainer {
  padding-top: var(--pt8);
}

.filterButton {
  width: fit-content;
}

.topbar-visible {
  transform: translateY(0);
  transition-duration: 0.3s;
}

.subtitleStyle {
  font-family: var(--body-font-semibold);
  border-bottom: 1px solid var(--blue);
  margin: 0 0 var(--pt1) 0;
  padding-bottom: var(--pt1);
}

.sort_container {
  display: inline-flex;
  gap: var(--pt1);
  align-items: center;
  margin-bottom: var(--pt2);
}

.titleflex {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--pt4);
}

.facetsContainer > div:first-child {
  margin-bottom: var(--pt4);
}

.titleflex > *:first-child {
  color: var(--blue);
  margin-right: var(--pt1);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--pt3);

  flex-wrap: wrap;
}

.supplementary {
  width: 100%;
  margin-top: var(--pt2);
  order: 3;
}

.supplementary > div {
  padding-top: var(--pt2);
}

@media (min-width: 992px) {
  .section {
    padding-top: var(--pt1);
  }

  .filterButton:not(.visible) {
    display: none;
  }

  .actions {
    flex-wrap: nowrap;
  }

  .supplementary {
    order: unset;
    margin-top: unset;
  }

  .supplementary > div {
    padding-top: unset;
  }
}
