.dropdownwrap {
}

/** hide tablet and down **/
@media (max-width: 992px) {
  .dropdownwrap {
    display: none;
  }
}

.dropdownitem {
  display: block;
  border-bottom: 1px solid var(--mine-shaft);
  padding: var(--pt1) var(--pt2) var(--pt1) var(--pt2);
  text-decoration: none;
  color: var(--mine-shaft);
  text-align: inherit;
  white-space: nowrap;
}

.dropdownitem a {
  text-decoration: none;
}

.leftspace {
  width: 25px;
  background-color: red;
}

.dropdownitem:focus {
  background: linear-gradient(to right, var(--blue) 10px, var(--concrete) 10px);
}

.dropdownitem:hover {
  background: linear-gradient(to right, var(--blue) 10px, var(--concrete) 10px);
}

.dropdownmenu {
  border: 1px solid var(--blue);
  background-color: var(--white);
  z-index:1;

}

.dropdowntoggle:focus {
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
}

.dropdowntoggle {
  padding: var(--pt2) var(--pt5) var(--pt2) var(--pt2);
  border: 1px solid var(--gray);
  border-right: none;
  background-color: var(--white);
  min-width: 125px;
  height: 100%;
  text-align: left;
}

.dropdownicon {
  transform: rotate(90deg);
  position: relative;
  right: -30px;
  top: 5px;
}

.materials {
  overflow-y: hidden;
  margin: 0 -15px;
  white-space: nowrap;
  padding: var(--pt2) var(--pt2) 0 var(--pt2);
  background-color: var(--white);
  border-top:1px solid var(--gray);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.materials button {
  margin: 0 var(--pt2) var(--pt2) 0;
}

.materials button:last-child {
  margin: 0 0 var(--pt2) 0;
}

.link {
  display: inline-flex;
  align-items: center;
  margin-right: var(--pt2);
}

.link i {
  margin-right: var(--pt1);
}
