.warning {
    background-color: var(--warning);
}

.error {
    background-color: var(--error);
}

.info {
    background-color: var(--info-light);
}

.succuss {
    background-color: var(--success);
}

.hidden {
    display: none;
}

div.notification {
    text-align: center;
    padding: var(--pt2);
}

div.notification .notificationbutton{
    border:none;
    position: relative;
    top: -30px;
    float: right;
}

div.notification .notificationbutton:hover{
    border:none;
    font-weight: bolder;
    color:var(--blue);
}
