.section {
  margin: 0 calc(var(--pt1) * -2);
  padding-bottom: 0 !important;
}

.skip {
  position: absolute;
  transform: translateX(-100%);
  display: none;
}

/* override section title default bootstrap styles */
.section :global(.section-title) {
  padding-top: 0;
  padding-bottom: 0;
}

.section :global(.section-content) {
  padding: 0;
}

.oneline {
  white-space: nowrap;
}

.words {
  padding: var(--pt2) var(--pt2) 0 var(--pt2);
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  display: inline-flex;
  align-items: center;
  column-gap: var(--pt1_5);
}

.word {
  display: inline;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .section {
    padding: var(--pt2) 0 0 0 !important;
  }

  .section.noRelatedSubjects {
    padding-top: var(--pt6);
  }

  .skip {
    display: inline;
  }
}
