.section {
  padding-top: var(--pt2);
}

.hitcount {
  color: var(--blue);
}

.related {
  display: flex;
  overflow-x: scroll;
  padding-bottom: var(--pt1);
}

.words {
  display: flex;
  padding-bottom: var(--pt1);
}

.word {
  margin-left: var(--pt3);
}

.label {
  min-width: fit-content;
}

@media (min-width: 992px) {
  .related {
    overflow: unset;
    padding-bottom: unset;
  }

  .words {
    display: unset;
    padding: 0;
  }

  .section {
    padding-top: var(--pt3);
  }
}
