.section {
  padding-top: var(--pt2);
  padding-bottom: 0 !important;
}

.skip {
  position: absolute;
  transform: translateX(-100%);
  display: none;
}

/* override section title default bootstrap styles */
.section :global(.section-title) {
  padding-top: 0;
  padding-bottom: 0;
}

.section :global(.section-content) {
  padding-left: 0;
  padding-right: 0;
}

.related {
  display: flex;
  overflow-x: auto;
  padding: 0 var(--pt2) 0 var(--pt2);
  align-items: baseline;
}

.related.skeleton {
  align-items: flex-start;
}

.words {
  display: flex;
  padding-bottom: var(--pt1);
}

.word {
  margin-left: var(--pt3);
}

.label {
  min-width: fit-content;
}

.filterButton {
  display: none;
}

@media (min-width: 992px) {
  .filterButton {
    display: unset;
  }

  .section {
    padding-top: var(--pt3);
    padding-bottom: unset;
  }

  .section.noRelatedSubjects {
    padding-top: var(--pt6);
  }

  .related {
    overflow: unset;
    padding-bottom: unset;
  }

  .skip {
    display: block;
  }

  .words {
    display: unset;
    padding: 0;
  }

  .word {
    margin-bottom: var(--pt1);
  }
}
