.fixedwrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%; 
  z-index: 100;
  pointer-events: none;
}

.cookiebox {
  max-width: 482px;
  background: var(--parchment);
  padding: var(--pt2) var(--pt3);
  margin: var(--pt2) var(--pt3);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
}
.headline {
  margin-bottom: var(--pt05);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottom > a {
  margin-top: var(--pt2);
}
.small .bottom > a {
  display: none;
}
.buttonwrapper {
  margin-top: var(--pt3);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.small .buttonwrapper {
  margin-top: var(--pt1);
}
.small .description {
  display: none;
}

@media (min-width: 360px) {
  .bottom {
    flex-direction: row;
  }
  .bottom button:last-child {
    margin-left: var(--pt3);
  }
  .bottom button:first-child {
    margin-left: var(--pt3);
  }
  .buttonwrapper {
    justify-content: flex-end;
  }
}