.display_flex {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: var(--pt1);
}

@media (min-width: 992px) {
  .display_flex {
    padding-top: var(--pt1);
  }
}

.white {
  color: var(--white);
}

.text {
  margin-top: calc(var(--pt05) * -0.25);
  line-height: 22px;
  display: flex;
  flex-direction: column;
  transform: scale(1, 1.05);
}

.logotxt1 {
  margin-bottom: calc(var(--pt05) * -1.2);
}
