.breadcrumb {
  padding-bottom: var(--pt2);
}

.text {
  font-family: var(--body-font);
}

/*overwrite reset.css*/
@media screen and (min-width: 576px) {
  .text {
    font-size: 14px;
    line-height: 22px;
  }
}

/*overwrite reset.css*/
@media screen and (min-width: 992px) {
  .text {
    font-size: 17px;
  }
}
