.breadcrumb {
  padding-bottom: var(--pt2);
}

.text {
  font-family: var(--body-font);
}

@media screen and (min-width: 576px) {
  .text {
    /*overwrite reset.css*/
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 992px) {
  .text {
    font-size: 17px; /*overwrite reset.css*/
    line-height: 26px; /*overwrite reset.css */
    padding-top: var(--pt1); /*align vertically with header*/
  }
  .breadcrumb {
    padding-bottom: var(--pt3);
  }
}
