.title {
  font-family: var(--title-font);

  /* Bootstrap default override */
  margin: 0;
}

.title1 {
  font-size: 32px;
  line-height: 40px;
}

.title2 {
  font-size: 40px;
  line-height: 52px;
}

.title3 {
  font-size: 28px;
  line-height: 38px;
}

.title4 {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--title-font-medium);
}

.title5 {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--title-font);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Small devices */
@media (min-width: 576px) {
  .title1 {
    font-size: 48px;
    line-height: 56px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title1 {
    font-size: 80px;
    line-height: 92px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .title3 {
    font-size: 40px;
    line-height: 52px;
  }
}

/* 
* Skeleton
*
*/

.skeleton {
  position: relative;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

.skeleton > * {
  color: transparent;
}

.skeleton h1 {
  /* large block of text to only 1 line */
  white-space: nowrap;
  overflow: hidden;
}

.skeleton span {
  display: block;
}
