.title {
  font-family: var(--title-font);

  /* Bootstrap default override */
  margin: 0;
}

.title1 {
  font-size: 80px;
  line-height: 92px;
}

.title2 {
  font-size: 48px;
  line-height: 62px;
}

.title3 {
  font-size: 40px;
  line-height: 52px;
}

.title4 {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--title-font-medium);
}

.title5 {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--title-font-light);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 768px) {
  .title1 {
    font-size: 50px;
    line-height: 60px;
  }
}

/* 
* Skeleton
*
*/

.skeleton {
  position: relative;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

.skeleton > * {
  color: transparent;
}

.skeleton h1 {
  /* large block of text to only 1 line */
  white-space: nowrap;
  overflow: hidden;
}

.skeleton span {
  display: block;
}
