.Material {
  padding: 0 var(--pt2);
}

.spacer {
  margin-top: var(--pt2);
}

.splitContainer {
  display: grid;
  grid-column-gap: var(--pt3);
  grid-template-columns: 3fr 1fr;
  margin-top: var(--pt2);
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: var(--pt3);
}

.ornament {
  margin-right: var(--pt1);
}

.button {
  width: 48%; /* ca 2 grid columns */
  margin-bottom: var(--pt4);
}

.link {
  display: inline-block;
  margin-bottom: var(--pt2);
}

.uppercase::first-letter {
  text-transform: uppercase;
}

.isReady {
  color: var(--success);
}

.isWarning {
  color: var(--error_temp);
}

.recommendationsContainer {
  background-color: var(--jagged-ice);
  padding: var(--pt6) 0;
  margin: var(--pt7) calc(var(--pt2) * -1) 0;
}

.topElement {
  padding-bottom: var(--pt1);
}

.topTitle {
  padding-top: var(--pt4);
}

.buttonRowWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.renewError {
  justify-content: center;
  margin-bottom: var(--pt4);
  width: 50%;
}

/* Specificity to override */
.button button.buttonDelete {
  white-space: nowrap;
}
