{
  "extends": [
    "next/core-web-vitals",
    "plugin:css-modules/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": ["cypress", "mocha", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "mocha/no-exclusive-tests": "error",
    "cypress/no-unnecessary-waiting": 0,
//    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],

    // TODO: Turn these on at some point
    /* next/core-web-vitals */
    "@next/next/no-img-element": "off",
    "import/no-anonymous-default-export": "off",
    "react/jsx-key": "off",
    "react/jsx-no-duplicate-props": "off",
    "react/jsx-no-undef": "off",
    "react/no-children-prop": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "off",

    /* plugin:css-modules/recommended */
    "css-modules/no-unused-class": "off",
    "css-modules/no-undef-class": "off"
  }
}