.section {
  margin-bottom: var(--pt8);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--pt2);
}

.subHeading {
  margin-bottom: var(--pt8);
}

.isReady {
  display: block;
  color: var(--success);
}

.isWarning {
  display: block;
  color: var(--error_temp);
}

.yourLibraries {
  text-decoration: underline;
}