.textAboveButton {
  padding-bottom: var(--pt1);
  flex-basis: 100%;
}

.wrapper {
  width: 100%;
  flex: 1;
}

.wrapper > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.icon {
  padding-bottom: 1px;
  margin-left: var(--pt1);
  color: var(--white);
}
