.infomedia {
  padding-bottom: var(--pt1);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.media {
  padding: var(--pt2) 0 0 0;
}

.author {
  padding: var(--pt2) var(--pt1) 0 0;
}

.author p,
.author h3 {
  display: inline;
}

.author p {
  white-space: nowrap;
}

.url {
  padding: var(--pt2) 0 0 0;
  display: inline-flex;
  align-items: center;
  /* margin-top: auto; */
}

.url a {
  margin: 0 0 0 var(--pt2);
}

/* Skeleton */

.skeleton .url a {
  pointer-events: none;
  cursor: default;
}

.skeleton .rating div i div,
.skeleton .url div,
.skeleton .media span div div div {
  background-color: var(--chamois);
}

.skeleton .rating div::before,
.skeleton .url div::before,
.skeleton .media div::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--parchment) 50%,
    transparent 100%
  );
}
