.infomedia {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.rating {
}

.media {
  padding: var(--pt1) 0 0 0;
}

.author {
  padding: var(--pt1) 0 0 0;
}

.author p span {
  border-bottom: 1px solid var(--blue);
}

.url {
  padding: var(--pt2) 0 0 0;
  display: inline-flex;
  align-items: center;
  margin-top: auto;
}

.url a {
  margin: 0 0 0 var(--pt2);
  text-decoration: none;
}

.url a:focus {
  color: red !important;
}
