.underlineContainer {
  color: var(--error_temp);
  background-image: linear-gradient(var(--mine-shaft), var(--mine-shaft)), linear-gradient(var(--mine-shaft), var(--mine-shaft));

  display: contents;
}

.underlineContainer:is(:hover, :focus, :focus-visible) {
  color: var(--mine-shaft)
}

/* Mobile first */
div.redBorder {
  padding: var(--pt2) var(--pt2);
  color: var(--error_temp);
  background: var(--error-light_temp);
  word-break: normal;
  white-space: normal;
  font-size: 17px;
}

div.redBorder span {
  padding: 0;
  font-family: var(--body-font-semibold);
}

/* Bigger than mobile */
@media (min-width: 576px) {
  div.redBorder {
    padding: var(--pt2) var(--pt6);
  }
}

