.sections {
  padding-top: var(--pt15);
  padding-bottom: var(--pt5);
}

.sections section div:first-child {
  display: flex;
  align-items: center;
}

.section {
  padding-bottom: var(--pt10);
}

.section .links {
  padding-bottom: var(--pt1);
}

/* Skeleton */

.skeleton section > div h1 {
  max-width: 400px;
}

.skeleton a {
  pointer-events: none;
  max-width: 300px;
  width: 100%;
}

.section .divider {
  display: none;
}

@media (min-width: 992px) {
  .section .divider {
    display: block;
  }
}
