.rowwrapper:first-child {
  margin-top: var(--pt2);
}

.rowwrapper:last-child {
  margin-bottom: var(--pt4);
}

.rowwrapper:focus,
.rowwrapper:hover {
  z-index: 2;
}

.rowwrapper {
  width: 100%;

  --underline-middle-hover-color: var(--link-background);
  --underline-font-hover-color: var(--mine-shaft);

  --underline-top-hover-color: var(--blue);
  --underline-bottom-hover-color: var(--blue);
  --underline-bottom-color: var(--iron);
  --underline-top-color: var(--iron);
  margin-bottom: calc(var(--underline-height) * -1);
}

.skeleton:focus,
.skeleton:hover {
  background: inherit;
  cursor: initial;
}
.skeleton hr {
  background-color: var(--iron) !important;
  width: 100%;
}
.skeleton .group {
  max-width: 380px;
}

.row {
  margin: var(--pt2) 0;
  white-space: normal;
}
.row h3 {
  color: var(--blue);
  margin: var(--pt05) 0;
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--pt4);
}

.search form {
  display: flex;
  margin-bottom: var(--pt4);
}

.search h4 {
  margin-top: var(--pt2);
  margin-bottom: var(--pt1);
}
.row mark {
  font-family: var(--body-font-semibold);
  background-color: transparent;
  /*color: darker;*/
}

@media (min-width: 768px) {
  .search form {
    margin-bottom: var(--pt12);
  }
}

@media (min-width: 992px) {
  .search h4 {
    margin-top: initial;
  }
}
