.tooltipcontainer {
    padding: var(--pt1) var(--pt1);
    max-width: 240px;
}

.tooltipcursor{
    cursor: pointer;
}

.tooltipwrap{
    position: relative;
    top:3px;
    display: inline;
}

.tooltipwrap:focus{
    border-bottom:1px solid var(--blue);
}

