.skeletonrow {
  height: 61px;
  /* padding: 16px 8px 16px 0px; */
  margin: 0 0 var(--pt05) 0;
}

.paginationWrapper {
  margin-top: var(--pt4);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.top {
  display: flex;
  align-items: center;
  margin-bottom: var(--pt1);
  justify-content: space-between;
}
.filters {
  display: flex;
  margin-left: calc(var(--pt1) * -1);
}
.filters > div {
  margin-right: var(--pt2);
}
.searchlink {
  display: none;
}
.arrowright {
  margin-left: var(--pt1);
  margin-top: var(--pt05);
}
@media (min-width: 992px) {
  .filters {
    margin-left: var(--pt1);
  }
  .searchlink {
    margin-bottom: var(--pt05);
    margin-right: var(--pt1);
  }
}
@media (min-width: 576px) {
  .searchlink {
    display: flex;
  }
}
