.skeletonrow {
  border-bottom: 1px solid var(--iron);
  padding: var(--pt1) 0 var(--pt1) 0;
}

.title {
  margin: 0 0 var(--pt05) 0;
}

.bold {
  font-weight: bold;
}

.headerContent {
  color: green;
}

/* article grid (thank you chatgpt) */
.container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr; /* Varying column widths */
  background-color: var(--white);
  /*gap: 10px;*/
  /*padding: 10px;*/
}

.item {
  /*background-color: lightblue;*/
  padding: 20px;
  /*text-align: center;*/
  border-top: 1px solid var(--iron);
}

.headline {
  /*font-weight: bold;*/
  /*background-color: navy;*/
  /*color: white;*/
  padding: 10px;
}
