.nav {
  position: sticky;
  top: var(--pt4);
}

.menu {
  list-style: none;
}

@media (max-width: 991px) {
  .menu {
    display: none;
  }
}

.link {
  margin: var(--pt1) 0;
  display: flex;
  align-items: center;
}

.link i {
  display: none;
  margin: 0 0 0 var(--pt1);
}

.simpleLink {
}

.subLink {
  display: inline-flex;
  padding-left: var(--pt2);
  padding-top: var(--pt1);
}

.subLink p {
  white-space: normal;
}

.groupTitle {
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.menuLink {
  list-style: none;
}

.linkGroup {
  display: flex;
  flex-direction: column;
}

.group {
  cursor: pointer;
}

.group:hover {
  text-decoration: underline;
}

.group:focus {
  text-decoration: underline;
}

.itemLength {
  margin-left: var(--pt05);
}
