.menu {
  list-style: none;
}

@media (max-width: 991px) {
  .menu {
    display: none;
  }
}

.link {
  margin: var(--pt1) 0;
  display: flex;
  align-items: center;
}

.link i {
  display: none;
  margin: 0 0 0 var(--pt1);
}

.link.active i {
  display: block;
}

.subLink {
  display: inline-flex;
  padding-left: var(--pt2);
  padding-top: var(--pt1);
}

.subLink p {
  white-space: normal;
}

.groupTitleContainer {
  display: inline-flex;
  align-items: center;
}

.menuLink {
  list-style: none;
}
.groupMenu {
  display: none;
}

.linkGroup {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .groupMenu {
    display: block;
  }
}

.group {
  cursor: pointer;
}

.group:hover {
  text-decoration: underline;
}

.group:focus {
  text-decoration: underline;
}

.groupActive p {
  font-family: var(--body-font-semibold);
}

.itemLength {
  margin-left: var(--pt05);
}
