.col_flex {
  display: flex;
}

.col_flex__vertical_version {
  width: 75%;
}

@media (min-width: 364px) {
  .col_flex__vertical_version {
    width: 45%;
  }
}

@media(min-width: 576px) {
  .col_flex__vertical_version {
    width: 26.25%;
  }
}

@media(min-width: 768px) {
  .col_flex__vertical_version {
    width: 22.22%;
  }
}

.link_style {
  flex-grow: 1;
  /* Add underline colors */
  --underline-middle-hover-color: var(--link-background);
  --underline-font-hover-color: var(--mine-shaft);
  /* -- */
  cursor: pointer;
  width: 100%;
}

.related_element {
  display: flex;
  height: 100%;
  gap: var(--pt2);
  box-sizing: border-box;

  padding: var(--pt1);

  /* Reset anchor tag */
  color: var(--mine-shaft);
}

.related_element__vertical_version {
  flex-direction: column;
  gap: var(--pt1);
}

.cover {
  object-fit: contain;
  object-position: 50% 0;
  width: var(--pt11);
  align-self: center;
}

.cover__vertical_version {
  width: 95%;
  height: calc(var(--pt16) * 2);
}

.text {
  display: flex;
  flex-direction: column;
}

.text > *:first-child {
  padding-bottom: var(--pt05);
}

.text > *:nth-child(2) {
  padding-bottom: var(--pt2);
}

.text > *:nth-child(n+3) {
  padding-bottom: 0;
}

.text > *:last-child {
  padding-bottom: 0;
}
