.link_style {
  flex-grow: 1;
  /* Add underline colors */
  --underline-middle-hover-color: var(--link-background);
  --underline-font-hover-color: var(--mine-shaft);
  /* -- */
  cursor: pointer;
  width: 100%;
}

/** ___________________ */
/**imageLeft material card*/
.textInformation {
  padding: var(--pt3) 0 var(--pt3) var(--pt2);
  padding-right: var(--pt9);
  background-color: var(--white); /**TODO make dynamic*/
}
.container {
  border: 1px solid var(--iron);
}

.container + .container {
  border-top: none;
}

.image {
  padding-left: var(--pt6);
  margin-right: var(--pt3);
  background-color: var(--concrete); /**TODO make dynamic*/
  display: flex;
  align-items: center;
}
