/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:wght@300;400;500&display=swap'); */

/*
  font-family: 'IBM Plex Sans', sans-serif;
*/

@font-face {
  font-family: "ibm_plex_sansbold";
  src: url("../fonts/ibm-sans/ibmplexsans-bold-webfont.woff2") format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanssemibold";
  src: url("../fonts/ibm-sans/ibmplexsans-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansmedium";
  src: url("../fonts/ibm-sans/ibmplexsans-medium-webfont.woff2") format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansregular";
  src: url("../fonts/ibm-sans/ibmplexsans-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanslight";
  src: url("../fonts/ibm-sans/ibmplexsans-light-webfont.woff2") format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansextralight";
  src: url("../fonts/ibm-sans/ibmplexsans-extralight-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansthin";
  src: url("../fonts/ibm-sans/ibmplexsans-thin-webfont.woff2") format("woff2"),
    url("../fonts/ibm-sans/ibmplexsans-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  font-family: 'IBM Plex Serif', serif;
*/

@font-face {
  font-family: "ibm_plex_serifbold";
  src: url("../fonts/ibm-serif/ibmplexserif-bold-webfont.woff2") format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifsemibold";
  src: url("../fonts/ibm-serif/ibmplexserif-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifmedium";
  src: url("../fonts/ibm-serif/ibmplexserif-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifregular";
  src: url("../fonts/ibm-serif/ibmplexserif-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_seriflight";
  src: url("../fonts/ibm-serif/ibmplexserif-light-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifextralight";
  src: url("../fonts/ibm-serif/ibmplexserif-extralight-webfont.woff2")
      format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-extralight-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifthin";
  src: url("../fonts/ibm-serif/ibmplexserif-thin-webfont.woff2") format("woff2"),
    url("../fonts/ibm-serif/ibmplexserif-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /*
*  Fonts
*
*/

  /* Title Font (Serif) */
  --title-font: "ibm_plex_serifregular"; /* 400 */

  --title-font-thin: "ibm_plex_serifthin"; /* 100 */
  --title-font-xlight: "ibm_plex_serifextralight"; /* 200 */
  --title-font-light: "ibm_plex_seriflight"; /* 300 */
  --title-font-medium: "ibm_plex_serifmedium"; /* 500 */
  --title-font-semibold: "ibm_plex_serifsemibold"; /* 600 */
  --title-font-bold: "ibm_plex_serifsemibold"; /* 700 */

  /* Body Font (Sans Serif) */
  --body-font: "ibm_plex_sansregular"; /* 400 */

  --body-font-thin: "ibm_plex_sansthin"; /* 100 */
  --body-font-xlight: "ibm_plex_sansextralight"; /* 200 */
  --body-font-light: "ibm_plex_sanslight"; /* 300 */
  --body-font-medium: "ibm_plex_sansmedium"; /* 500 */
  --body-font-semibold: "ibm_plex_sanssemibold"; /* 600 */
  --body-font-bold: "ibm_plex_sansbold"; /* 700 */
}
