.cover {
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 208px;
}

/* Bookmark button */
.cover button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  z-index: 1;
}

.cover img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: 50% 100%;
}

/**
 * Frame
 *
 */

.frame {
  padding: var(--pt2);
}

/* 
* Skeleton
*
*/

.skeleton {
  position: relative;
}
