.itemwrap {
  margin: var(--pt2);
}

.item {
  margin-bottom: var(--pt2);
}

.inline {
  display: inline;
  padding-left: var(--pt2);
  margin: var(--pt2) 0 var(--pt2) 0;
}

.dividerpadding {
  margin: var(--pt2) 0 var(--pt2) 0;
}

.waitforme {
  -webkit-animation: blinking 1.5s infinite linear;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: var(--pt2);
  display: inline-block;
}

/* COLORS */
.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #27ae60;
}

.red {
  width: 10px;
  height: 10px;
  background-color: #eb5757;
  border-radius: 50%;
  display: inline-block;
}

.yellow {
  width: 10px;
  height: 10px;
  background-color: #f2c94c;
  border-radius: 50%;
  display: inline-block;
}

.none {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  display: inline-block;
}
