.top {
  padding: var(--pt3) var(--pt6);
}

.contentlist {
  border-top: none;
}

.contentlist li {
  padding: var(--pt1) var(--pt6) var(--pt1) var(--pt6);
}

.contentlist li:nth-child(odd) {
  background: none;
}

.contentlist li:nth-child(even) {
  background: var(--concrete);
}
