.search section div:first-child {
  display: none;
}

.back {
  /* Same height as input field - used to align center*/
  height: var(--pt7);

  display: inline-flex;
  align-items: center;
}

/* Dummy -> delete when real input is ready */
.search input {
  height: var(--pt7);
  width: 100%;
  max-width: 559px;
  border: 1px solid var(--gray);
  padding: var(--pt2);
}
/*  */

@media (min-width: 992px) {
  .search section div:first-child {
    display: flex;
  }

  .search {
    padding-top: var(--pt3);
  }
}
