.loanerform {
    max-width: 600px;
    padding: var(--pt2);
}

.search .input {
    margin: var(--pt2) 0;
}

.search .title {
    padding: var(--pt1) 0;
}

.scrollArea {
    padding: var(--pt2);
    height: calc(100% - 37px);
    overflow-y: auto;

    transition-duration: 0.5s;

    -moz-box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0);
    box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0);
}


.message {
    padding: 0 0 var(--pt2) 0;
}


.orderPossibleGroup {
    margin-top: var(--pt4);
}

.alternativeMatch {
    /* color: var(--gray); */
}

.alternativeMatch mark {
    /* font-family: var(--body-font); */
    /* color: var(--gray); */
}

.branchMessage {
    padding-top: var(--pt05);
    color: red;
}

.squeeze {
    padding-top: var(--pt1);
    padding-bottom: var(--pt1);
}

@media (min-width: 576px) {
    .scrollArea {
        height: calc(100% - 42px);
        padding: var(--pt2) var(--pt6) var(--pt4) var(--pt6);
    }

    .link > .arrow {
        margin-left: var(--pt6);
    }
}
