.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pt2) var(--pt2) var(--pt2) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.group.disabled {
  pointer-events: none;
}

.boxOutline:focus-within {
  outline: 1px solid var(--blue);
}

.row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.row > .dot {
  position: relative;
  height: 16px;
  width: 18px;
}
.row.selected > .dot {
  border-color: var(--blue);
}

.row .content {
  width: 100%;
}

/* Radio button animation */
.row > .dot::before,
.row > .dot::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}
.row > .dot::before {
  background: var(--blue);
  transform: scale(0);
  transition: transform 0.4s;
}
.row.selected > .dot::before {
  transform: scale(0.7);
}
.row > .dot::after {
  border: 1px solid var(--gray);
}
.row.selected > .dot::after {
  border-color: var(--blue);
}
.label {
  display: none;
}

.disabledrow {
  pointer-events: none;
}
.disabledrow {
  color: var(--gray) !important;
}
.disabledrow .dot::after {
  border-color: var(--gray) !important;
}
.disabledrow .dot::before {
  background: var(--gray) !important;
}

.content {
  margin-left: var(--pt1);
}
