.containerback {
  position: relative;
  height: 260px;
  padding-top: var(--pt4);
  background: black;
  margin-bottom: var(--pt5);
}

.herobackground {
  position: relative;
}
.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), transparent);
}
.heroicon {
  margin-top: var(--pt5);
  display: none;
}

.fakesearchinput {
  margin-top: var(--pt3);
}

.herodescription{
  color: white;
  padding: var(--pt2);
  position: absolute;
  right: 0;
  bottom: 0;
}

.readmorebutton {
  margin-top: var(--pt5);
  max-width: 208px;
  display: none !important;
}

/* Small devices */
@media (min-width: 576px) {
  .containerback {
    height: 360px;
    padding-top: var(--pt6);
  }
  .fakesearchinput {
    margin-top: var(--pt4);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heroicon {
    display: initial;
  }
  .containerback {
    height: 560px;
    padding-top: var(--pt12);
  }
  .fakesearchinput {
    display: none !important;
  }
  .readmorebutton {
    margin-top: var(--pt5);
    max-width: 208px;
    display: initial !important;
  }
}

.herotitle {
  color: var(--white);
}
