.containerback {
  height: 560px;
  background-image: url("/img/bibdk-hero-scaled.jpeg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: 50% 75%;
  background-size: cover;
}

.heromargin {
  line-height: 92px;
  margin-top: 3em;
  min-height: 20rem;
}

.heroicon {
  margin-top: 3em;
}

@media (max-width: 768px) {
  .heroicon {
    display: none;
  }
}

.herotitle {
  color: var(--white);
}
