.errorWrapper {
  padding: 0 var(--pt1) 0 0;
}

.syntaxContainer {
  display: flex;
  flex-direction: row-reverse;
}

.action {
  cursor: pointer;
}

.errorFull {
  padding: 0 var(--pt2);
  background-color: var(--white);
}

.errorMessage {
  padding: var(--pt2);
  background-color: var(--error-light);
}
