.input_range {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: var(--pt2);
  padding-top: var(--pt2);
  max-width: 200px;
  margin: auto;
  align-self: end;
}

.input_range:focus {
  outline: none;
}

/* THUMB */
.input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: calc(var(--pt05) * -1);

  border: transparent;
  border-radius: 50%;
  width: var(--pt2);
  height: var(--pt2);
  background: var(--mine-shaft);
  cursor: initial;
}

.input_range::-moz-range-thumb {
  border: transparent;
  border-radius: 50%;
  width: var(--pt2);
  height: var(--pt2);
  background: var(--mine-shaft);
  cursor: initial;
}
/* END THUMB */

/* START TRACK */
.input_range::-moz-range-track {
  background: var(--iron);
  border-radius: var(--pt1);
  width: 100%;
  height: var(--pt1);
  cursor: pointer;
}

.input_range::-webkit-slider-runnable-track {
  background: var(--iron);
  border-radius: var(--pt1);
  width: 100%;
  height: var(--pt1);
  cursor: pointer;
}
/* END TRACK */
