.addLibrary {
  margin-top: var(--pt5);
}

.pageDescription {
  margin-right: var(--pt1);
}
.pageDescriptionContainer {
  display: flex;
  flex-wrap: wrap;
}

.showMoreText {
  margin-top: var(--pt1);
  margin-bottom: var(--pt1);
}
