.addLibrary {
  margin-top: var(--pt5);
}

.pageDescription {
  margin-right: var(--pt1);
}
.pageDescriptionContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 720px) {

  .pageDescriptionContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  
}

.showMoreText {
  margin-top: var(--pt1);
}
