.container {
  padding: var(--pt2) var(--pt6) 0;
}

.header {
  padding-bottom: var(--pt2);
}

.text {
  padding-bottom: var(--pt2);
}

.backButton {
  width: 100%;
  margin-top: var(--pt4);
  margin-bottom: var(--pt4);
}

.list {
  margin-left: var(--pt3);
  padding-bottom: var(--pt2);
}

/* expand more information */
.expandWrap {
  display: flex;
  align-items: center;
}

.expandButton {
  background-color: var(--white);
}

.expandButton:hover {
  cursor: pointer;
}

.expandButton .expandWrap p {
  margin: 0 var(--pt1) 0 0;
}

.expandButton[aria-expanded="true"] .chevron img {
  transform: rotate(180deg);
}

.chevron {
  position: absolute;
  left: 318px;

  margin: auto;
}

.chevron img {
  transition: transform 0.2s linear;
}

.notSupportedReason {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 152.941% */
  letter-spacing: 0.2px;
  padding-bottom: var(--pt1);
}
