.full_cover_carousel {
  display: grid;
  grid-template-areas:
    "⬅️ 🖼️ ➡️"
    "🎱️ 🎱️ 🎱️"
  ;

  --carousel-height: auto;
  --carousel-width: 100%;
  --carousel-cover-max-width: 200px;

  width: calc(var(--carousel-width));
  height: calc(var(--carousel-height));
  max-width: calc(var(--carousel-cover-max-width) + calc(var(--carousel-cover-max-width) * 0.5));

  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.left_arrow {
  grid-area: ⬅️;
}
.right_arrow {
  grid-area: ➡️;
}
.grid_cover_area {
  grid-area: 🖼️;
}
.dots {
  grid-area: 🎱️;
}

/* MOBILE FIRST */
.carousel {
  display: flex;
  align-items: center;
  justify-self: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  scrollbar-width: none;
  gap: var(--pt2);
}

 /*Hide scroll bar*/
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel_skeleton {
  background-image: linear-gradient(var(--black-squeeze), var(--black-squeeze));
  width: auto;
  height: 300px;
}

.cover_element {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
  text-align: center;

  /*TODO: figure out if we need transition */
  /*opacity: 1;*/
  /*transition-property: opacity;*/
  /*!*transition-delay: 0.1s;*!*/
  /*transition-duration: 0.3s;*/
}

/*TODO: figure out if we need transition */
/*.cover_element.active_cover {*/
  /*opacity: 1;*/
  /*transition-property: opacity;*/
  /*transition-delay: 0.1s;*/
  /*transition-duration: 0.3s;*/
/*}*/

.cover_image {
  max-width: var(--carousel-cover-max-width);
  max-height: 90%;
  width: 90%;
  height: auto;
}

.cover_image_skeleton {
  display: block;
  background-image: linear-gradient(var(--iron), var(--iron));
  width: auto;
  height: 300px;
}
/* END COVER */

/* START OVERRIDING STYLE OF ARROWS */
.arrow_styling {
  display: none;
  --arrow__background_color: var(--white);
  --arrow__fill_color: var(--blue);
  --arrow__background_color_hover: var(--blue);
  --arrow__fill_color_hover: var(--white);
}
/* END ARROWS */

@media (min-width: 768px) {
  button.icon,
  button.disabled_icon {
    display: block;
  }

  .arrow_styling {
    display: initial;
  }
}
