.full_cover_carousel {
  /* Cover Carousel default colors */
  --basic_box_shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  --basic_box_border: 1px solid rgba(0, 0, 0, 0.1);
  --basic_big_box_shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

  /* Setting up CoverCarousel */
  display: grid;
  --grid_template: "🖼️" "🎱️";
  grid-template-areas: var(--grid_template);

  align-items: center;
  isolation: isolate;
  position: relative;

  --carousel-height: auto;
  --carousel-width: 280px;
  --carousel-cover-max-width: 280px;
  width: 100%;
  height: calc(var(--carousel-height));

  --arrow_transition: all 0.5s;
  --arrow_opacity: 1;
  --arrow_size: var(--pt5);
  --tranform_base: calc(calc(var(--arrow_size) * 4) + var(--pt2));
}

.grid_cover_area {
  grid-area: 🖼️;
}
.dots {
  grid-area: 🎱️;
}

.full_cover_carousel:has(:focus-visible) button.arrow_styling {
  opacity: 0;
  visibility: hidden;
}

.carousel:focus-visible {
  outline: 2px solid var(--blue);
}

.left_arrow,
.right_arrow {
  opacity: var(--arrow_opacity);
  transition: var(--arrow_transition);
}

.left_arrow {
  grid-area: ⬅️;
  --left_transform: translateX(calc(var(--tranform_base) * 1));
  transform: var(--left_transform);
}
.right_arrow {
  grid-area: ➡️;
  --right_transform: translateX(calc(var(--tranform_base) * -1));
  transform: var(--right_transform);
}

.full_cover_carousel:is(:hover, :focus-visible) :is(.left_arrow, .right_arrow),
:is(.left_arrow, .right_arrow) :is(:hover, :focus-visible) {
  --left_transform: none;
  --right_transform: none;
  --arrow_opacity: 1;
}

/* MOBILE FIRST */
.carousel {
  display: flex;
  align-items: center;
  justify-self: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  width: 100%;
  scrollbar-width: none;
  gap: var(--pt2);
}

/*Hide scroll bar*/
.carousel::-webkit-scrollbar {
  display: none;
}

.cover_element {
  min-height: 300px;
  flex-shrink: 0;

  z-index: 2;
  width: 100%;

  scroll-snap-align: start;
  text-align: center;
}

.cover_image {
  max-height: 360px;
  max-width: 50%;
  height: auto;

  box-shadow: var(--basic_box_shadow);
  border: var(--basic_box_border);
}

.grid_cover_area:is(:focus-visible, :focus) > .cover_element > .cover_image {
  box-shadow: var(--basic_big_box_shadow);
}

.carousel_skeleton {
  display: block;

  width: calc(var(--carousel-width));
  height: calc(var(--carousel-height));
  margin-left: auto;
  margin-right: auto;

  border: 0;
  outline: 0;
  background-image: linear-gradient(var(--black-squeeze), var(--black-squeeze));
}

.cover_image_skeleton {
  display: block;
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;

  border: 0;
  outline: 0;
}
/* END COVER */

/* START OVERRIDING STYLE OF ARROWS */
.full_cover_carousel .arrow_styling {
  display: none;
  z-index: -1;
  --arrow__background_color: var(--white);
  --arrow__fill_color: var(--blue);
  --arrow__background_color_hover: var(--blue);
  --arrow__fill_color_hover: var(--white);
  --arrow__box_shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}
/* END ARROWS */

@media (min-width: 768px) and (max-width: 1440px) {
  .full_cover_carousel {
    padding-right: var(--pt2);
  }
}

@media (min-width: 768px) {
  .full_cover_carousel .arrow_styling {
    display: initial;
  }

  .full_cover_carousel {
    --grid_template: "⬅️ 🖼️ ➡️" "🎱️ 🎱️ 🎱️";
    --carousel-width: 240px;
    --carousel-cover-max-width: 240px;
    width: calc(var(--carousel-width) + calc(var(--tranform_base) * 2));
    max-width: calc(
      var(--carousel-cover-max-width) +
        calc(var(--carousel-cover-max-width) * 0.5)
    );
  }

  .cover_image {
    max-width: var(--carousel-cover-max-width);
  }
}
