.order {
  width: 100%;
  height: 100%;
}

.order.padding {
  padding-bottom: 88px;
}

.container {
  height: 100%;
  overflow: hidden;
}

.wrap {
  height: 100%;
  width: 300%;
  display: flex;
  transition-duration: 0.3s;
}

/* wrap contains 3 layers */
.wrap.translated.active-edition,
.wrap.translated.active-pickup {
  transform: translateX(calc((100% / 3) * -1));
}

.wrap.translated.active-loanerform {
  transform: translateX(calc((100% / 3) * -2));
}

.wrap .left,
.wrap .right,
.wrap .login {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}

.wrap .left {
}

.wrap .right {
  position: relative;
}

.wrap .login .page {
  /* height: calc(100% - 32px); */
}

.wrap .right .page {
  width: 100%;
  height: calc(100% - 32px);

  position: absolute;
  right: 0;
  top: 0;
}

/* Active layer */

.wrap .page.page-edition {
}

.wrap.active-edition .page.page-edition {
  z-index: 1;
}

.wrap .page.page-pickup {
}

.wrap.active-pickup .page.page-pickup {
  z-index: 1;
}

.wrap .page.page-loanerform {
  background-color: red;
}

.wrap.active-loanerform .page.page-loanerform {
  z-index: 1;
}

@media (min-width: 576px) {
  .order.padding {
    padding-bottom: 152px;
  }
}
