.order {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  overflow: hidden;
}

.wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transition-duration: 0.3s;
}

.wrap.translated,
.wrap.translated {
  transform: translateX(-50%);
}

.wrap .left,
.wrap .right {
  width: 50%;
  position: relative;
}

.wrap .left {
}

.wrap .right {
  position: relative;
}

.wrap .right .page {
  width: 100%;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;
}

/* Active layer */

.wrap .page.page-edition {
}

.wrap.active-edition .page.page-edition {
  z-index: 1;
}

.wrap .page.page-library {
}

.wrap.active-library .page.page-library {
  z-index: 1;
}

.action {
  width: 100%;
  min-height: 152px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  padding: var(--pt2);

  box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
}

.action.hidden {
  transform: translateY(calc(100% + 12px));
}

.action.validated {
  min-height: calc(100% + 152px);
}

@media (min-width: 576px) {
  .action {
    padding: var(--pt4) var(--pt6) var(--pt4) var(--pt6);
  }
}
