.container {
  background: var(--concrete);
  display: flex;
  padding: var(--pt2);
  flex-direction: column;
  align-items: flex-start;
  margin: var(--pt4) 0;
}
.title {
  margin-bottom: var(--pt1);
}
.buttonContainer {
  margin-top: var(--pt3);
  display: flex;
  align-items: baseline;
}
.searchButton {
  margin-right: var(--pt3);
  min-width: 120px;
}
.searchButton:disabled {
  outline-color: var(--dove);
}
.searchItemContainer{
    
}
.searchItem{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.searchItemNumber{
    background-color: var(--blue);
    color: var(--white);
    padding: 0 6px;
}