.titledivider {
  display: none;
}

.titlewrapper {
  align-items: center;
}

.resultlength {
  color: var(--blue);
  line-height: 48px;
  width: 100px;
  display: block;
}

.right {
  margin-left: auto;
}

@media (max-width: 992px) {
  .titlewrapper {
    display: flex;
    position: relative;
    top: var(--pt4);
    flex-direction: row-reverse;
  }

  .titlewrapper h1 {
    font-size: 17px;
    line-height: 26px;
    font-family: var(--body-font);
    display: inline-block;
  }
  .resultlength {
    display: inline-block;
    margin-right: var(--pt1);
    font-size: 14px;
    width: unset;
  }
}

@media (max-width: 768px) {
  .titledivider {
    display: block;
  }

  .resultlength {
    display: inline-block;
  }

  .titlewrapper {
    display: flex;
    position: relative;
    top: var(--pt3);
  }

  .titlewrapper .viewselector {
    display: none;
  }
}
