.section :global(.section-title) {
  padding-bottom: 0;
}

.titlewrapper {
  align-items: center;
}

.resultlength {
  color: var(--blue);
  line-height: 48px;
  width: 100px;
  display: block;
}


.right {
  margin-left: auto;
}

@media (max-width: 992px) {
  .titlewrapper {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .titlewrapper h1 {
    font-size: 14px;
    font-family: var(--body-font);
    display: inline-block;
  }
  .resultlength {
    display: inline-block;
    margin-right: var(--pt1);
    font-size: 17px;
    width: unset;
  }
}

@media (max-width: 991px) {
  .section {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .titlewrapper .viewselector {
    display: none;
  }

  .wrap {
    padding-bottom: 0;
  }
}
