.item,
.item.hasContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  /* margin-right: var(--pt5); */
  padding: 0 var(--pt5);
  box-sizing: border-box;
}

.item.hasContent .wrap {
  width: 100%;
}

.item {
  /* max-width: 400px; */
}

.item.hasContent {
  /* min-width: 70%; */
}

.details {
  flex-wrap: wrap;
  margin-bottom: var(--pt1);
}

.details div {
  min-width: 100%;
  display: flex;
}

.details > div:last-child p {
  flex-shrink: 1;
}

.item .date {
  order: 1;
}

.item .rating {
  order: 1;
}

.details > div:first-child {
  align-items: baseline;
  margin-bottom: var(--pt2);
}

.details div:first-child .date {
  display: none;
}

.details .by {
  margin-right: var(--pt1);
  display: none;
}

.details > div > .by {
  display: block;
}

.details > div:last-child {
  width: 100%;
  align-items: baseline;
}

.details > div:last-child > div {
  display: unset;
}

.item .links {
  margin-top: var(--pt2);
}

.item .link {
  display: flex;
  align-items: center;
  margin-bottom: var(--pt2);
}

.item .link:last-child {
  margin-bottom: unset;
}

.item .link i {
  margin-right: var(--pt1);
}

/* Skeleton */

.item.skeleton div {
  width: 100%;
}

@media (min-width: 992px) {
  .item,
  .item.hasContent {
    flex-shrink: 0;
    padding: 0 var(--pt8);
  }

  .item {
    /* min-width: min-content; */
  }

  .item.hasContent {
    flex-shrink: 0;
    /* max-width: 600px; */
  }

  .item.hasContent .details > div:last-child > p {
    display: none;
  }

  .details > * {
    min-width: unset;
  }

  .item.hasContent .details > div:last-child > div {
    display: flex;
    justify-content: space-between;
  }

  .item.hasContent.hasRating .details > div:last-child > div {
    flex-direction: row-reverse;
  }

  .item.hasContent .details > div:last-child > div > * {
    min-width: unset;
    align-items: baseline;
  }

  .item.hasContent .details > div:last-child .date {
    display: none;
  }

  .item.hasContent .details > div:first-child {
    margin-bottom: var(--pt4);
  }

  .item.hasContent .details div:first-child .date {
    margin-left: var(--pt2);
    display: block;
  }

  .item.hasContent .details .by {
    display: block;
  }

  .item.hasContent .details > div > .by {
    display: none;
  }
}
