.action {
  position: relative;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: var(--mine-shaft);
  text-decoration: none;
}

.wrap {
  position: relative;
}

.action p,
.action > div hr {
  display: none;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}

/* custom animationline */
.action:focus-visible hr:last-child,
.action:hover hr:last-child {
  display: none;
}

.action:focus-visible hr,
.action:hover hr {
  transform: scale(1);
}
/*  */

.action:focus-visible p {
  color: var(--blue);
}

@media (min-width: 992px) {
  .action p {
    display: block;
    margin: 0;
  }

  .action div hr:first-of-type {
    display: block;
  }
}
