.action {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: var(--mine-shaft);
  text-decoration: none;

  white-space: nowrap;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
