.toggle {
  height: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}

.title > span {
  background-color: pink !important;
}

.dropdownwrap {
  font-family: var(--ibm_plex_sansregular);
  padding: var(--pt2) var(--pt2) var(--pt2) var(--pt2);
  border: 1px solid var(--gray);
  background-color: var(--white);
  width: 100%;
  min-width: 125px;
  border-radius: 0;
}

.dropdownwrap:hover {
  cursor: pointer;
}

.dropdownitem {
  /* display: block; */
  border-bottom: 1px solid var(--mine-shaft);
  padding: var(--pt1) var(--pt2) var(--pt1) var(--pt2);
  text-decoration: none;
  color: var(--mine-shaft);
  text-align: inherit;
  white-space: nowrap;
}

.dropdownitem a {
  text-decoration: none;
}

.leftspace {
  width: 25px;
  background-color: red;
}

/* .dropdownitem:focus {
  background: linear-gradient(to right, var(--blue) 10px, var(--concrete) 10px);
}

.dropdownitem:hover {
  background: linear-gradient(to right, var(--blue) 10px, var(--concrete) 10px);
} */

.dropdownmenu {
  border: 1px solid var(--blue);
  background-color: var(--white);
  position: absolute;
  z-index: 1;
  /* bootstrap default styles override */
  padding: 0;
  left: -10px !important;
}

.dropdowntoggle {
  background-color: var(--white);
  min-width: 125px;
  height: 100%;
  width: 100%;

  text-align: left;
}

.dropdownicon {
  transform: rotate(90deg);
  position: relative;
  top: 5px;
  /* right: X??? */
}

.materials {
  overflow-y: hidden;
  margin: 0 -15px;
  white-space: nowrap;
  padding: var(--pt2) var(--pt2) 0 var(--pt2);
}

.materials button {
  margin: 0 var(--pt2) var(--pt2) 0;
}

.materials button:last-child {
  margin: 0 0 var(--pt2) 0;
}

.link {
  display: inline-flex;
  align-items: center;
  margin-right: var(--pt2);
}

.link i {
  margin-right: var(--pt1);
}

.dropdownMenu {
  border-radius: 0;
  width: 100%;
  border: 1px solid var(--gray);
  /* TODO: can i do this prettier? */
  /* override default position and push 16px to the left */
  left: calc(var(--pt2) * -1) !important;
  top: 14px !important;
}

.navItem {
}

.navItem:hover {
  background-color: var(--iron);
  color: var(--black);
}

.itemSelected {
  background-color: var(--blue);
  color: var(--white);
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .navItem[aria-selected="true"] {
  background-color: var(--blue);
} */
