.dropdownWrap {
  font-family: var(--ibm_plex_sansregular);
  background-color: var(--white);
  width: 100%;
  min-width: 125px;
  border-radius: 0;
  margin-bottom: var(--pt3);
  text-decoration: none;
}

.dropdownWrap:hover {
  cursor: pointer;
}

.dropdownToggle {
  background-color: var(--white);
  padding: var(--pt2) var(--pt2) var(--pt2) var(--pt2);
  border: 1px solid var(--gray);
  min-width: 125px;
  height: 100%;
  width: 100%;
  text-align: left;
}

.dropdownToggle:hover {
  cursor: pointer;
}

.dropdownIcon {
  transform: rotate(90deg);
  position: relative;
  top: 5px;
}

.dropdownMenu {
  border-radius: 0;
  width: 100%;
  border: 1px solid var(--gray);
  padding: 0;
  /* override bootstrap default position and push 16px to the left */
  top: -3px !important;
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Link item  */

.linkBackgroundSelected {
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
}

.link {
  width: 100%;
  padding: var(--pt1) var(--pt2);
}

.link:hover,
.link:focus {
  /* overwrite link component styling */
  color: inherit !important;
}

.linkSelected {
  color: var(--white);
}
