.dropdownWrap {
  font-family: var(--ibm_plex_sansregular);
  background-color: var(--white);
  width: 50%;
  min-width: 400px;
  border-radius: 0;
  margin-bottom: var(--pt3);
  text-decoration: none;
}

@media (max-width: 767px) {
  .dropdownWrap {
    width: 100%;
    min-width: 125px;
  }
}

@media (min-width: 992px) {
  .dropdownWrap {
    display: none;
  }
}

.dropdownWrap:hover {
  cursor: pointer;
}

.dropdownToggle {
  background-color: var(--white);
  padding: var(--pt2) 0;
  border: 1px solid var(--gray);
  min-width: 125px;
  height: 100%;
  width: 100%;
  text-align: left;
}

.dropdownToggle:hover {
  cursor: pointer;
}

.dropdownToggle:focus {
  color: var(--blue);
}

.dropdownIconRotate {
  transform: rotate(180deg);
}

.dropdownMenu {
  border-radius: 0;
  width: 100%;
  border: 1px solid var(--gray);
  padding: 0;
  /* override bootstrap default position and push dropdown menu up */
  top: -3px !important;
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--pt2);
  padding-right: var(--pt2);
}

/* Link item  */

.linkBackgroundSelected {
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
}

.link {
  display: flex;
  align-items: center;
  padding: var(--pt2) 0;
  width: 100%;
}

.link:hover,
.link:focus {
  /* overwrite link component styling */
  color: inherit !important;
}

.linkSelected {
  color: var(--white);
}
