/* Menu */

.wrap {
  background-color: var(--concrete);
  margin-bottom: var(--pt8);
}

.menu {
  background-color: var(--concrete);
  padding: var(--pt2) 0 0 0;
  border-bottom: 1px solid var(--iron);

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 101;
}

.menu.sticky.stickyTop {
  top: 0;
}

.menu.sticky.stickyBottom {
  bottom: 0;
}

/* Menu items */
.menu .item {
  display: inline-block;
  margin-right: var(--pt3);
  padding-bottom: var(--pt2);
  --underline-height: 2px;
  --underline-font-hover-color: var(--mine-shaft);
  --underline-bottom-color: var(--transparent);
}

/* hover + focus item */
.menu .item.activeClass {
  --underline-bottom-color: var(--blue);
}
