/* Menu */

.wrap {
  background-color: var(--concrete);
}

.menu {
  background-color: var(--concrete);
  padding: var(--pt2) 0 0 0;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 101;
}

.menu.sticky.stickyTop {
  top: 0;
}

.menu.sticky.stickyBottom {
  bottom: 0;
}

/* Menu items */
.menu .item {
  display: inline-block;
  margin-right: var(--pt3);
  --underline-height: 2px;
  --underline-font-hover-color: var(--mine-shaft);
}

.menu .item:focus {
  --underline-bottom-hover-color: var(--transparent);
}

.menu .item:is(:hover, :focus-visible, .isClicked, .active) {
  --underline-bottom-hover-color: var(--blue);
}

.menu .item p {
  /* link styles override */
  padding: 0 0 var(--pt2) 0;
}

.menu .item:first-letter {
  text-transform: uppercase;
}
