.container {
  position: sticky;
  top: var(--pt4);
}

.helpskeleton {
  max-height: 250px;
  position: relative;
}

.link {
  margin-bottom: calc(var(--pt1) * 0.9);
  display: flex;
  align-items: center;
}

.helplink {
  padding-left: var(--pt4);
}

.helpicongroup {
  padding-right: var(--pt1);
}

.helpiconlink {
  padding-left: var(--pt1);
  position: relative;
  top: 2px;
}

.helpiconrotate {
  transform: rotate(90deg);
  position: relative;
  top: 5px;
}

.helphide {
  display: none;
}
