.helplink {
    padding-left: var(--pt4);
}

.helpmenu{
    display: none;
}

@media (min-width: 992px) {
    .helpmenu {
        display: block;
    }
}


.helpicongroup {
    padding-right:var(--pt1);
}

.helpiconlink{
    padding-left:var(--pt1);
    position: relative;
    top: 2px;
}

.helpgroup {
    cursor: pointer;
}

.helpactive p{
    font-weight: bold;
}

.helphide {
    display: none;
}


