.helpskeleton {
  max-height: 250px;
  position: relative;
}

.helpbreadcrumb {
  margin: var(--pt2) 0 var(--pt2) 0;
  text-decoration: underline;
  display: none;
}
@media (max-width: 992px) {
  .helpbreadcrumb {
    display: block;
  }
}

.title {
  margin-bottom: var(--pt4);
}
