.facetbutton {
  display: none;
}

.buttonWrap {
  display: flex;
  align-items: center;
  margin-top: var(--pt2);
}

.count {
  color: var(--white);
  background-color: var(--blue);
  padding: 0 var(--pt1) 0 var(--pt1);
  margin-left: var(--pt2);
  align-items: center;
}

.counterwrap {
  border: 2px solid red;
  margin-top: var(--pt2);
}

.mobileclear {
  margin-left: var(--pt2);
  display: none;
}

@media (max-width: 992px) {
  .facetbutton {
    width: 100%;
    display: block;
    background-color: var(--concrete);
    margin-right: var(--pt2);
  }

  .mobileclear {
    display: block;
  }
}
