@media (min-width: 576px) {
  .container {
    padding-inline: var(--pt2);
  }
}

.title {
  padding-top: var(--pt2);
  margin-bottom: var(--pt3);
  padding-left: var(--pt2);
}

@media (min-width: 576px) {
  .title {
    padding-left: 0;
  }
}

.searchPreview {
  white-space: nowrap;
  overflow: hidden;
  margin-right: var(--pt3);
}

.tableHeaderBorder {
  border-bottom: 1px solid var(--iron);
}
.removeItemIcon {
  cursor: pointer;
  justify-self: flex-end;
}

.accordionExpanded {
  transform: rotate(180deg);
}

.accordionCollapsed {
  transform: rotate(0deg);
}

.accordionContentContainer {
  cursor: pointer;
  align-items: center;
  padding-bottom: var(--pt2);
}

.emptyListMessage {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: var(--pt2);
}
.empyListTitle {
  margin-top: var(--pt5);
}
.loginButton {
  margin-top: var(--pt5);
  padding-left: var(--pt5);
  padding-right: var(--pt5);
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 200px;
}
.loginText {
  margin-top: var(--pt2);
  white-space: pre-wrap;
}

@media screen and (min-width: 576px) {
  .loginButton {
    width: fit-content;
  }
}

.accordionContent {
  display: grid;
  padding: 0 var(--pt2);
  column-gap: var(--pt2);
  grid-template-columns: 14fr auto;
}

.accordionContent > div:nth-child(1),
.accordionContent > div:nth-child(2) {
  display: none;
}

.searchPreview,
.mobilePreview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.mobilePreview {
  flex-direction: column;
  gap: var(--pt1);
  display: flex;
}

.savedItemRow {
  display: grid;
  grid-template-columns: var(--pt2) var(--pt16) 14fr var(--pt6) 1.5fr 2fr;
  cursor: pointer;
  padding: var(--pt1_5) var(--pt2);
  column-gap: var(--pt2);
}

.accordionContainer a {
  margin: 0;
}

.savedItemRow {
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 12fr 1fr;
  column-gap: var(--pt1);
  padding: var(--pt1_5) var(--pt2);
  align-items: center;
}
.tableHeader {
  display: none;
}
.accordionIcon {
  justify-self: flex-end;
  transition: transform 0.35s;
  cursor: pointer;
}
.tableContainer {
  padding-left: var(--pt1);
}

@media (min-width: 576px) {
  .savedItemRow {
    grid-template-columns: var(--pt2) var(--pt16) 14fr var(--pt6) 1.5fr 2fr;

    column-gap: var(--pt2);
  }

  .tableHeader {
    display: grid;
    grid-template-columns: var(--pt2) var(--pt16) 14fr var(--pt6) 1.5fr 2fr;
    padding: 0 var(--pt2) var(--pt1_5) var(--pt2);
    column-gap: var(--pt2);
  }

  .tableContainer {
    display: flex;
    flex-direction: column;
  }
  .accordionContent {
    display: grid;
    grid-template-columns: var(--pt2) var(--pt16) 14fr auto;
    padding: 0 var(--pt2);
    column-gap: var(--pt2);
  }

  .accordionContent > div:nth-child(1),
  .accordionContent > div:nth-child(2) {
    display: unset;
  }
}

.titleAndActionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--pt2);
}
