@media (min-width: 576px) {
  .container {
    padding-inline: var(--pt2);
  }
}

.title {
  padding-top: var(--pt2);
  margin-bottom: var(--pt3);
  padding-left: var(--pt2);
}

@media (min-width: 576px) {
  .title {
    padding-left: 0;
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.savedItemRow {
  display: grid;
  /* grid-template-columns: auto auto 1fr; */
  grid-template-columns: var(--pt2) 3fr 14fr 2fr 1fr 1fr;

  /* grid-template-areas: var(--grid_template_areas); */
  padding-left: var(--pt1);
  column-gap: var(--pt2);
  padding: var(--pt1_5) var(--pt2);
  cursor: pointer;
  align-items: center;
}

@media (max-width: 576px) {
  .savedItemRow {
    /* --grid_template_areas: "checkbox timestamp search_query hitcount favIcon expandIcon";
    grid-template-columns: var(--pt2) 3fr 14fr 2fr 1fr 1fr; */
    padding: 0px 22px !important;

    grid-template-columns: 1fr 2fr 20fr 2fr 1fr 1fr;
  }
}

.searchPreview {
  white-space: nowrap;
  overflow: hidden;
}

.tableHeaderBorder {
  border-bottom: 1px solid var(--iron);
}

.accordionIcon {
  transition: transform 0.35s;
  cursor: pointer;
}
.accordionExpanded {
  transform: rotate(180deg);
}

.accordionCollapsed {
  transform: rotate(0deg);
}

.accordionContentContainer {
  display: grid;
  grid-template-columns: var(--pt2) 3fr 14fr 2fr 1fr 1fr;

  /* grid-template-columns: auto auto 1fr; */

  grid-template-areas: var(--grid_template_areas);

  cursor: pointer;
  align-items: center;
}
.accordionContent {
  grid-column: 3; /* This will place the content in the 14fr column */
}

.tableHeader {
  display: grid;

  /* grid-template-columns: auto auto 1fr;
  grid-template-columns: 1fr 4fr 2fr; */
  grid-template-columns: 4fr 14fr 6fr;

  /* grid-template-areas: var(--grid_template_areas); */
  /* column-gap: var(--pt2); */
  padding-left: var(--pt5);

  cursor: pointer;
  align-items: center;

  /* border-bottom: 1px solid var(--iron); */
  margin-bottom: var(--pt05);
  padding-left: var(--pt1);
}

@media (min-width: 576px) {
  .tableHeader {
    /* grid-template-columns: var(--pt2) 2fr 15fr 3fr 1fr; */
  }
}
.checkbox {
  top: var(--pt05);
}
.emptyListMessage {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: var(--pt2);
}
.empyListTitle {
  margin-top: var(--pt5);
}
