.content {
}

.top {
  min-height: 300px;
  background-color: var(--parchment);
}

.right {
  padding: var(--pt2);
  overflow: hidden;
}

.noImage .right {
  height: 300px;
  padding: var(--pt2);
  display: flex;
  align-items: center;
}

.test {
  display: flex;
  justify-content: space-between;
}

.left {
  max-width: auto !important;
  position: relative;
  height: 300px;
  padding: 0;
}

.left img {
  width: auto;
  height: 300px;
}

/* Rubrik */

.rubrik {
  padding-top: var(--pt4);
}

.rubrik,
.body {
  /* max-width: 560px;
  margin: auto; */
}

/* Body */

.body {
  padding-top: var(--pt4);
}

.body figure {
}

.body figure img {
  max-width: 100%;
  max-height: 250px;
}

.body figure {
  padding: var(--pt4) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body figcaption {
  font-size: 14px;
  line-height: 22px;
  padding: var(--pt1) 0 0 0;
}

/* Tags */

.body strong {
  font-weight: normal;
  font-family: var(--body-font-semibold);
}

.body ul,
.body ol {
  padding-left: var(--pt5);
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  font-size: 17px;
  line-height: 26px;
  font-family: var(--body-font-semibold);
  font-weight: 400;
}

/* Skeleton */

.skeleton .right div div div i div,
.skeleton .right div > div div,
.skeleton .right div span div div div {
  background-color: var(--parchment);
  opacity: 0.5;
}

.skeleton .right div div::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--chamois) 50%,
    transparent 100%
  );
}

@media (min-width: 992px) {
  .noImage .right {
    padding: var(--pt2) var(--pt6);
  }

  .body figure img {
    max-width: 100%;
    max-height: 375px;
  }
}

@media (min-width: 768px) {
  .top {
  }

  .right {
    padding: var(--pt3);
    height: 300px;
  }

  .body {
    padding-top: var(--pt8);
  }

  .rubrik {
    padding-top: var(--pt12);
  }
}
