.content {
}

.rating {
  padding: var(--pt2) 0 var(--pt2) 0;
}

.body {
  margin-top: var(--pt2);
}

.top {
  min-height: 300px;
  background-color: var(--parchment);
}
.backImageleft {
  padding-top: var(--pt2);
}

.right {
  padding: var(--pt2);
  overflow: hidden;
}

.noImage .right {
  min-height: 300px;
  padding: var(--pt2);
  display: flex;
  align-items: center;
}
.noImage .right p:first-of-type {
  margin-top: var(--pt2);
}

.test {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left {
  max-width: auto !important;
  position: relative;
  height: 300px;
  padding: 0;
}

.left img {
  width: auto;
  height: 300px;
}

/* Info */

.info {
  padding: var(--pt2);
}

.info > div > div:first-child,
.info > div > div:nth-child(2) {
  margin-bottom: var(--pt1);
}

.info > div > div:nth-child(2n) {
  text-align: right;
}

/* Rubrik */
.rubrik {
  padding: var(--pt2);
}
.rubrik h1:not(:first-child) {
  margin-top: var(--pt1);
}

/* Skeleton */

.skeleton .right div div div i div,
.skeleton .right div > div div,
.skeleton .right div span div div div {
  background-color: var(--parchment);
  opacity: 0.5;
}

.skeleton .right div div::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--chamois) 50%,
    transparent 100%
  );
}

.disclaimer {
  margin-top: var(--pt10);
  margin-bottom: var(--pt10);
}
.disclaimer > p {
  margin-top: var(--pt2);
}

@media (min-width: 992px) {
  .noImage .right {
    padding: var(--pt2) var(--pt6);
  }
}

@media (min-width: 768px) {
  .top {
  }

  .right {
    padding: var(--pt3);
    min-height: 300px;
  }

  .info > div > div:first-child,
  .info > div > div:nth-child(2) {
    margin-bottom: 0;
  }

  .info > div > div:nth-child(2n) {
    text-align: left;
  }
}

@media print {
  .left,
  .left img {
    height: 400px;
  }
}
