.icon {
  position: relative;
}

.bag,
._bag {
  position: relative;
  z-index: 1;

  width: var(--pt2);
  height: 14px;
  /* height: calc(var(--pt2) - var(--pt05)); */
  margin-top: 4px;
  border: 2px solid var(--mine-shaft);
  background-color: white;
}

.handle,
._handle {
  width: var(--pt1);
  height: var(--pt1);
  border: 2px solid var(--mine-shaft);
  border-bottom: 0;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(2px, -6px);
}

._bag {
  position: absolute;
  transform: translate(0, -4px);
  left: 0;
  top: 0;
  z-index: 0;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transform: translate(75%, -75%) scale(1);
}

/* .hovertrigger:hover .icon * {
  border-color: var(--blue);
} */

.trigger:hover .badge,
.trigger:focus .badge {
  animation: jumpUp 0.75s cubic-bezier(0.3, 1, 0.32, 1.3);
}

.trigger:hover .handle,
.trigger:focus .handle {
  animation: flipHandle 0.5s linear;
}

.trigger:hover ._bag,
.trigger:focus ._bag {
  animation: openBag 0.5s linear;
}

@keyframes jumpUp {
  0% {
    z-index: -1;
    transform: translate(2px, 0) scale(0.5);
  }
  50% {
    transform: translate(2px, -100%) scale(0.5);
  }
  100% {
    z-index: 2;
    transform: translate(75%, -75%) scale(1);
  }
}

@keyframes flipHandle {
  0%,
  75% {
    transform: translate(2px, -2px) scaleY(-1);
  }
  100% {
    transform: translate(2px, -6px) scaleY(1);
  }
}

@keyframes openBag {
  0%,
  75% {
    transform: translate(2px, -5px);
  }
  100% {
    transform: translate(0px, -4px);
  }
}
