.col_flex {
  display: flex;
}

.col_flex__vertical_version {
  width: 75%;
}

.col_flex__localizations_version {
  background: var(--concrete);
}

.col_flex__image_to_left_version {
  background: var(--concrete);
}

@media (min-width: 364px) {
  .col_flex__vertical_version {
    width: 45%;
  }
}

@media (min-width: 576px) {
  .col_flex__vertical_version {
    width: 26.25%;
  }
}

@media (min-width: 768px) {
  .col_flex__vertical_version {
    width: 22.22%;
  }
}

.related_element {
  display: flex;
  height: 100%;
  gap: var(--pt2);
  box-sizing: border-box;

  padding: var(--pt1);

  /* Reset anchor tag */
  color: var(--mine-shaft);
}

.related_element__vertical_version {
  flex-direction: column;
  gap: var(--pt1);
}

.related_element__localizations_version {
  padding: 0;
  padding-inline: var(--pt6);
  padding-block: var(--pt2);
  gap: var(--pt3);
}

.related_element__image_to_left_version {
  padding: 0;
}

/* Text elements */
.text {
  display: flex;
  flex-direction: column;
}

.text > *:first-child {
  padding-bottom: var(--pt05);
}

.text > *:nth-child(2) {
  padding-bottom: var(--pt2);
}

.text > *:nth-child(n + 3) {
  padding-bottom: 0;
}

.text > *:last-child {
  padding-bottom: 0;
}

.text__image_to_left_version {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background: var(--white);
}

.text__localizations_version {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--pt075) * -1);
}

/* ----------------- */
.type__image_to_left_version {
  padding-top: var(--pt1);
  text-transform: uppercase;
}

/* ----------------- */

.cover {
  object-fit: contain;
  object-position: 50% 0;
  width: var(--pt11);
}

.cover__vertical_version {
  width: 95%;
  object-position: 50% 100%;
  height: calc(var(--pt16) * 2);
}

.cover__localizations_version {
  max-width: var(--pt5);
  max-height: var(--pt10);
}

.cover__image_to_left_version {
  object-fit: cover;
}

.warning_yellow {
  background-color: var(--warning-light);
}

.error_red {
  background-color: var(--pippin);
}

.white_overlay {
  background-color: rgba(255, 255, 255, 0.5);
}
