.col_flex {
  display: flex;
}

.col_flex__vertical_version {
  width: 75%;
}

.col_flex__localizations_version {
  background: var(--concrete);
}

@media (min-width: 364px) {
  .col_flex__vertical_version {
    width: 45%;
  }
}

@media (min-width: 576px) {
  .col_flex__vertical_version {
    width: 26.25%;
  }
}

@media (min-width: 768px) {
  .col_flex__vertical_version {
    width: 22.22%;
  }
}

.related_element {
  display: flex;
  height: 100%;
  gap: var(--pt2);
  box-sizing: border-box;

  padding: var(--pt1);

  /* Reset anchor tag */
  color: var(--mine-shaft);
}

.related_element__vertical_version {
  flex-direction: column;
  gap: var(--pt1);
}

.related_element__localization_version {
  padding: 0;
  padding-inline: var(--pt6);
  padding-block: var(--pt2);
}

.cover {
  object-fit: contain;
  object-position: 50% 0;
  width: var(--pt11);
  align-self: center;
}

.cover__vertical_version {
  width: 95%;
  object-position: 50% 100%;
  height: calc(var(--pt16) * 2);
}

.cover__localizations_version {
  width: var(--pt8);
}
