.prompt .signInButton {
  max-width: 320px;
  margin: var(--pt3) 0;
}
.prompt h3 {
  margin: var(--pt1) 0;
}

.prompt {
  margin-top: var(--pt13);
}

.inline {
  display: inline;
}

.description {
  padding-bottom: var(--pt3);
}

.link {
  text-decoration: underline;
  text-underline-offset: var(--pt05);
}

.link:hover {
  text-decoration: none;
}

.devider {
  margin-top: var(--pt2);
}
