.dropdownwrap {
}

.dropdownitem {
  display: block;
  border-bottom: 1px solid var(--gray);
  padding: var(--pt1) var(--pt05) var(--pt1) var(--pt2);
  text-decoration: none;
  color: var(--mine-shaft);
  text-align: inherit;
  white-space: nowrap;
  cursor: pointer;
}

.dropdownitem i svg {
  display: none;
}

.bookmark {
  margin-left: var(--pt2);
}

.active {
  color: white;
  background-color: var(--blue);
}

.active:hover {
  background-color: black;
}

.dropdownitem.active i svg {
  display: block;
}

.active i svg path {
  stroke: var(--white);
}

.itemContainer {
  display: flex;
  justify-content: space-between;
}

.dropdownitem a {
  text-decoration: none;
}

.dropdownitem:hover {
  color: var(--blue);
  font-weight: var(--body-font-semibold);
}

.dropdownitem.active:hover {
  color: var(--white);
}

.dropdownitem:hover i svg {
  display: block;
}

.dropdownitem:not(.active):hover i svg path {
  stroke: var(--blue);
}

.dropdownitem:focus i svg {
  display: block;
}

.dropdownitem:focus i svg path {
  stroke: var(--blue);
}

.dropdownwrap :global(.dropdown-toggle::after) {
  display: none;
}

.dropdownmenu {
  margin-top: var(--pt1_5);
  border: 1px solid var(--gray);
  background-color: var(--white);
  z-index: 1;
  /* bootstrap default styles override */
  border-radius: 0;
  padding: 0;
}
