.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointer {
  cursor: pointer;
  padding: 4px 0 16px 0;
  font-family: var(--body-font-semibold);
}

.pointer:hover {
  color: var(--blue);
}

.pointer:hover + div + hr {
  background-color: var(--blue);
  transition: background-color 1s;
}

.pointer:focus {
  transition: color 0.5s;
  color: var(--blue);
}

.pointer:focus + div + hr {
  background-color: var(--blue);
  transition: background-color 1s;
}

.fullmanifestation {
  font-weight: normal;
}

.fullmanifestation img {
  margin-bottom: var(--pt3);
}

.fullmanifestation button {
  margin-top: var(--pt4);
  margin-bottom: var(--pt4);
  font-family: var(--body-font-semibold);
  transition: color 0.5s;
  color: var(--blue);
}

.fullmanifestation .reservationbutton{
  max-width: 100px;
  max-height: 20px;
}

.column {
  margin-bottom: var(--pt1);
}

.column:focus {
  color: var(--blue);
}

.folded {
  max-height: 0;
  overflow: hidden;
}

.expanded {
  transition-duration: 1s;
  max-height: 100%;
}

.locationtitle {
  margin-bottom: var(--pt1);
}

.container {
  column-count: 1;
  -webkit-column-count: 1;
  column-gap: 0;
  -webkit-column-gap: 0;
}

.item {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  overflow-wrap: break-word;
  padding-bottom: var(--pt3);
  padding-right: var(--pt5);
}

@media (min-width: 768px) {
  .container {
    column-count: 2;
    -webkit-column-count: 2;
  }
}
