.triggercontainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin-top: 7px;
}

@media (max-width: 992px) {
  .triggercontainer {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
.tooltipStyle {
  background-color: var(--blue);
}
.triggerText {
  user-select: none;
}

.triangle {
  position: relative;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 30px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--concrete);
}
