.section {
  /* override default section styling */
  padding: var(--pt3) 0 0 0 !important;
  margin-bottom: 0 !important;
}

.section section {
  /* override default section styling */
  padding: 0 !important;
}

@media (min-width: 992px) {
  .section {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  .wrap {
    display: none;
  }
}

.advancedSearchContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: var(--pt2) 0;
}
