.container {
  border-bottom: 1px solid var(--iron);
  background: var(--concrete);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.06);
  height: 56px;
  display: flex;
  align-items: center;
}

.formatedQueryContainer {
  display: flex;
  flex-wrap: wrap;
}
.formatedQueryItem {
  display: flex;
}

.formatedQueryItem p,
.formatedQueryItem span {
  margin-right: var(--pt1);
}
