.container {
  border-bottom: 1px solid var(--iron);
  background: var(--concrete);
  box-shadow: var(--shadow-effect);
  display: flex;
  align-items: center;
  padding: var(--pt2) 0;
  cursor: pointer;

  /* Link */
  --underline-font-hover-color: var(--mine-shaft);
}

.edit_search {
  display: flex;
  /* Link */
  --underline-bottom-color: var(--blue);
  --underline-bottom-hover-color: var(--blue);
}
.saveSearchButton {
  justify-content: end;
  align-items: center;
  display: flex;
  gap: var(--pt05);
  /* Link */
  --underline-bottom-color: var(--blue);
  --underline-bottom-hover-color: var(--blue);
}

.formatedQueryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.formatedQueryContainer p {
  margin-right: var(--pt1);
  display: inline;
}

.operator_color {
  color: var(--blue);
}

@media (max-width: 768px) {
  .your_search {
    margin-bottom: var(--pt1);
  }

  .formatedQueryContainer {
    flex-flow: wrap;
  }

  .saveSearchButton {
    margin-top: var(--pt1);
    justify-content: start;
  }
}
