.arrow {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s;
  border-radius: 50%;
}
.arrow.hidden {
  opacity: 0;
  cursor: unset;
}
.arrow path {
  fill: var(--blue);
  stroke: var(--blue);
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--pt4);
}
.desktop {
  display: none;
}
.pagination > * {
  margin: var(--pt05);
}
.pagination i {
  font-size: 18px;
  line-height: 18px;
  font-family: var(--body-font-medium);
  font-style: normal;
  user-select: none;
  cursor: pointer;
  background-color: unset !important;
  /* transition: all 0.25s; */
}

.pagination i:focus,
.pagination i:hover,
.arrow:focus,
.arrow:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--blue);
}

.pagination i.selected {
  color: white;
  background-color: var(--blue) !important;
}

@media (min-width: 768px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
