.button,
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  width: auto;
}

.icon {
  width: var(--pt4);
  height: var(--pt4);
  border: 3px solid var(--white);
  border-radius: 50%;
  font-style: normal;
  padding: 0 0 2px 3px;
  font-size: 17px;
}

.text {
  top: 100%;
  padding: var(--pt1) 0 0 0;
  position: absolute;
  color: var(--mine-shaft);
  left: 0;
}
