.button,
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  width: auto;
}

.icon {
  width: var(--pt5);
  height: var(--pt5);
  /* border: 2px solid var(--white); */
  border-radius: 50%;
  font-style: normal;
  padding: 0 0 4px 4px;
  font-size: 22px;
}

.text {
  top: 100%;
  padding: var(--pt1) 0 0 0;
  position: absolute;
  color: var(--mine-shaft);
  left: 0;
}
