.button,
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  width: auto;
}

.icon {
  padding: 2px;
}

.text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;
  left: 0;
  padding: var(--pt1) 0 0 0;
  color: var(--mine-shaft);
}
