.title {
  padding: var(--pt4) 0 var(--pt2) 0;
}

.copy {
  margin-top: var(--pt2);
}

.description {
  padding: 0 0 var(--pt4) 0;
}

.label {
  padding: var(--pt2) 0 0 0;
}

.router {
  background-color: #f6f9fc;
  padding: var(--pt1) var(--pt2);
  margin: -16px;
  border-bottom: 1px solid #e5e5e5;
}
.router > div {
  display: flex;
}
.router > div > p:first-child {
  margin-right: var(--pt1);
}

/* Demo */

.demo {
  background-color: var(--blue);
}

.demo.v-space-1,
.demo.v-space-2,
.demo.v-space-3,
.demo.v-space-4,
.demo.v-space-5,
.demo.v-space-6,
.demo.v-space-7,
.demo.v-space-8 {
  max-width: var(--pt1);
}

.demo.h-space-1,
.demo.h-space-2,
.demo.h-space-3,
.demo.h-space-4,
.demo.h-space-5,
.demo.h-space-6,
.demo.h-space-7,
.demo.h-space-8 {
  min-height: 8px;
}

/* Spacing (horizontal spacing) */

.h-space-1,
.h-space-2,
.h-space-3,
.h-space-4,
.h-space-5,
.h-space-6,
.h-space-7,
.h-space-8 {
  display: inline-block;
}

.h-space-1 {
  width: var(--pt1);
}

.h-space-2 {
  width: var(--pt2);
}

.h-space-3 {
  width: var(--pt3);
}

.h-space-4 {
  width: var(--pt4);
}

.h-space-5 {
  width: var(--pt5);
}

.h-space-6 {
  width: var(--pt6);
}

.h-space-7 {
  width: var(--pt7);
}

.h-space-8 {
  width: var(--pt8);
}

/* Vertical spacing */

.v-space-1 {
  height: var(--pt1);
  line-height: var(--pt1);
}

.v-space-2 {
  height: var(--pt2);
  line-height: var(--pt2);
}

.v-space-3 {
  height: var(--pt3);
  line-height: var(--pt3);
}

.v-space-4 {
  height: var(--pt4);
  line-height: var(--pt4);
}

.v-space-5 {
  height: var(--pt5);
  line-height: var(--pt5);
}

.v-space-6 {
  height: var(--pt6);
  line-height: var(--pt6);
}

.v-space-7 {
  height: var(--pt7);
  line-height: var(--pt7);
}

.v-space-8 {
  height: var(--pt8);
  line-height: var(--pt8);
}
