.materialReview {
  padding: 0 0 var(--pt1) 0;
  align-self: center;
}

.author,
.type,
.date {
  padding-bottom: var(--pt1);
  align-self: center;
}

.author {
  display: flex;
  align-items: center;
}

.author a {
  margin: 0 0 0 var(--pt1);
}

.date {
  color: var(--gray);
}

.content {
  padding: var(--pt3) 0;
}

.url {
  padding: var(--pt2) 0 0 0;
  display: flex;
  align-items: center;

  /* align links in the bottom */
  /* margin-top: auto; */
}

.url a {
  margin: 0 0 0 var(--pt2);
}
