.materialReview {
  padding: 0;

  /* Ensure link lines are visible */
  padding-bottom: var(--pt1);
}

.author {
  padding: var(--pt2) 0 0 0;
  display: flex;
}

.author span {
  display: flex;
  align-self: flex-end;
}

.author span > p {
  padding: 0 var(--pt1) 0 0;
}

.content {
  padding: var(--pt3) 0;
}

.type {
  padding-left: 0;
}

.url {
  padding: 0;
  display: flex;
  align-items: center;
}

.url i {
  display: none;
}

.skeleton hr {
  display: none;
}

.skeleton a {
  border: none;
  pointer-events: none;
  cursor: default;
}

.reviewTxt h1 {
  font-family: var(--title-font);
  display: inline;
}

.reviewTxt a {
  color: var(--blue);
  font-family: var(--title-font);
}

@media (min-width: 1200px) {
  .reviewTxt a,
  .reviewTxt h1 {
    font-size: var(--pt4);
    line-height: var(--pt5);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .type {
    padding: 0 0 0 var(--pt4);
  }

  .url a {
    margin: 0 0 0 var(--pt2);
  }

  .url i {
    display: block;
  }

  .author {
    padding: 0;
  }
}
