.librarySearchSection {
  padding-top: var(--pt4);
  padding-bottom: var(--pt4);
}

.search {
  padding-top: var(--pt05);
  padding-bottom: var(--pt1);
}

@media (max-width: 414px) {
  .hideOnSmallScreen {
    display: none;
  }
  .librarySearchSection {
    padding-top: 0;
  }
}

@media (min-width: 415px) {
  .hideOnLargeScreen {
    display: none;
  }
}
