.librarySearchSection {
  padding-top: var(--pt4);
  padding-bottom: var(--pt4);
}

.search {
  padding-top: var(--pt1);
  padding-bottom: var(--pt1);
}

@media (max-width: 414px) {
  .hide {
    display: none;
  }
  .librarySearchSection {
    padding-top: 0;
  }
}

.otherOptions {
  margin-top: var(--pt4);
  margin-bottom: var(--pt2);
}
.select {
  border-top: 1px solid var(--iron);
  margin-top: var(--pt1);
}
.select div {
  margin-left: 0;
}
