.link_style {
  /* Add underline colors */
  --underline-middle-hover-color: var(--link-background);
  --underline-font-hover-color: var(--mine-shaft);
  /* -- */
  cursor: pointer;
  display: contents;
}

.related_element {
  display: flex;
  gap: var(--pt2);
  box-sizing: border-box;

  padding: var(--pt1) var(--pt1_5);

  /* TODO: Find the number of cols when
   *  width is full
   */
  --related_works_width: calc(
    var(--container_width) / 12 * var(--cols_per_card) - (0.5 * var(--pt2))
  );
  width: var(--related_works_width);

  /* Reset anchor tag */
  color: var(--mine-shaft);
}

.cover {
  object-fit: contain;
  object-position: 50% 0;
  width: var(--pt11);
  align-self: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--pt05);
  flex-grow: 1;
}

.text > .wrap_one_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text > .wrap_two_lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5em; /* fallback */
  max-height: calc(1.5em * 2); /* fallback */
}

.margin_auto {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}
