.modalContainer {
  /* padding: 0 var(--pt2) var(--pt2) var(--pt2); */
  margin-top: var(--pt7);
  padding-top: var(--pt2);
  border-top: 1px solid var(--iron);
}

.dataItem:first-child {
  gap: var(--pt05);

  /* padding: var(--pt3) var(--pt05); */
}

.dataItem {
  gap: var(--pt05);

  padding: var(--pt1) var(--pt05);
  margin-bottom: var(--pt05);
}

.dataItem:last-child {
  /* border-bottom: 1px solid var(--iron); */
}
.dataItem p {
  font-size: 17px;
}

@media (min-width: 576px) {
  .modalContainer {
    /* padding: 0 var(--pt6) var(--pt3) var(--pt6); */
  }
}

.deleteProfileButtonCustom {
  margin-top: 100px;
}
.userInfo {
  margin-bottom: var(--pt6);
}

.dataItemTitle {
  font-family: var(--body-font-medium);
}
