.fullmanifestation {
  margin: var(--pt1) 0 var(--pt5) 0;
}

.fullmanifestation .cover {
  margin-bottom: var(--pt3);
}

.fullmanifestation .alternativeoptions {
  margin-bottom: var(--pt2);
}

.fullmanifestation .copy_link {
  margin-bottom: var(--pt5);
}

/** end manifestation parts list **/
.reservationwrapper > .buttons {
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.reservationwrapper .buttons > div {
  /* Override Reservation button default sizing */
  flex: unset;
  width: unset;
}

.container {
  column-count: 1;
  -webkit-column-count: 1;
  column-gap: 0;
  -webkit-column-gap: 0;
}

.item {
  padding-bottom: var(--pt3);
  padding-right: var(--pt5);
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.holdings {
  padding-top: var(--pt1);
}

.holdings p,
.holdings span {
  /* override component styles */
  font-size: 14px;
  line-height: 22px;
}

.holdings i,
.holdings img {
  /* override component styles */
  padding-top: 0 !important;
  width: var(--pt1_5) !important;
  max-width: var(--pt1_5) !important;
  max-height: var(--pt1_5) !important;
}

.tableOfContentsEntries {
  --base-padding: 0px !important;
  --show-more-margin-left: var(--pt3) !important;
  --odd-background: none !important;
  --even-background: none !important;
  --bottom-border: none !important;
}

@media (min-width: 768px) {
  .container {
    column-count: 2;
    -webkit-column-count: 2;
    margin: var(--pt1) 0 var(--pt5) 0;
  }
}
