.reviews {
  position: relative;
  height: auto;
}

.sliderContainer {
  margin: 0 calc(var(--pt2) * -1);
}

.slider {
  scroll-padding-left: var(--pt2);
  align-items: center;
}

.slider > div:first-child {
  margin-left: calc(var(--pt3) * -1);
  /* padding-left: var(--pt2); */
  /* padding-left: calc(var(--pt10) * -1); */
}

.slider > div > div {
  scroll-snap-align: start;
}

.slider > div:last-child {
  /* hide last seperator */
  display: none;
}

/* seperator element between items */

.seperator {
  min-width: 1px;
  height: 100%;
  background-color: var(--iron);
  border: 0;

  /* margin: 0 var(--pt5); */
}

.seperator:last-child {
  display: none;
}

/* skeleton */

.reviews.skeleton .arrow_overwrite {
  display: none;
}

.reviews.skeleton {
  --skeleton-bg-color: var(--chamois);
  --skeleton-gradient-color: var(--parchment);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .sliderContainer {
    margin: unset;
  }

  .slider {
    scroll-padding-left: 0;
  }

  .slider > div:first-child {
    /* margin-left: 0; */
    /* padding-left: 0; */
    margin-left: calc(var(--pt8) * -1);
  }

  .seperator {
    /* margin: 0 var(--pt10); */
  }
}
