.reviews {
  position: relative;
  height: auto;
}

/* Slider */

.SlideWrapper {
  height: auto;
}

.button {
  cursor: pointer;
  user-select: none;
  display: none;
  background-color: var(--blue);
  color: var(--white);
  transition-duration: 0.35s;

  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  top: 40%;
}

.button:hover {
  background-color: var(--mine-shaft);
}
.button.disabled {
  background-color: var(--iron);
  cursor: initial;
}
.left {
  left: var(--pt4);
}
.left-adjust {
  left: calc(var(--pt4) * -1 - var(--pt5));
}
.right {
  right: var(--pt4);
}

/* Skeleton */

.skeleton .button {
  display: none;
}

.skeleton.custom div div div i div,
.skeleton.custom div > div div,
.skeleton.custom div span div div div {
  background-color: var(--chamois);
}

.skeleton.custom div div::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--parchment) 50%,
    transparent 100%
  );
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 0px) {
  /* Make buttons visible */
  .button {
    display: inherit;
  }
}
