.loanerform {
  max-width: 600px;
  padding: var(--pt2);
}
.loanerform input {
  margin-top: var(--pt1);
}
.loanerform button {
  margin-top: var(--pt2);
}
.loanerform .loginbutton {
  margin-top: var(--pt5);
}
.loanerform p,
.loanerform label {
  margin-top: var(--pt3);
}
.loanerform h4 {
  margin-top: var(--pt5);
}
.loanerform .fields {
  padding-bottom: var(--pt7);
  position: relative;
}
.loanerform p.explain {
  margin-top: var(--pt1);
}
.loanerform .error {
  position: absolute;
  bottom: 0px;
  color: var(--error);
}

@media (min-width: 576px) {
  .loanerform {
    padding: var(--pt2) var(--pt6) var(--pt4) var(--pt6);
  }
}
