.background {
    background-color: var(--blue);
    color: white;
    padding-top: 3em;
}

.footerlink {
    display: block;
    color: var(--iron);
    text-decoration-color: var(--iron);
}

.spacer{
    height: 10px;
}

.padder{
    padding-bottom: 3em;
}

.footerlink:hover{
    text-decoration: underline;
    text-decoration-color: var(--white);
    color: var(--white);
}


