/**
* Keyword items
* 
*/

.keyword_group {
  display: flex;
  flex-wrap: wrap;
}

.keyword {
  margin: 0 var(--pt3) var(--pt3) 0;
}

.keyword h1 {
  font-family: var(--title-font);
}

/* 3 or less keywords */
.keyword.small h1 {
  font-size: var(--pt3);
  line-height: var(--pt4);
}

/* 6 or less keywords */
.keyword.medium h1 {
  font-size: var(--pt4);
  line-height: var(--pt6);
}

/* more than 6 keywords */

.keyword.large h1 {
  font-size: var(--pt5);
  line-height: var(--pt7);
}

/**
* Skeleton
* 
*/

.skeleton .keyword {
  border-bottom: none;

  pointer-events: none;
  cursor: default;
}

.skeleton .keyword div:last-child {
  background-color: var(--ziggurat);
}

.skeleton .keyword div:last-child::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--jagged-ice) 50%,
    transparent 100%
  );
}

.words {
  display: flex;
  flex-wrap: wrap;
}

.word:last-child {
  margin-right: 0;
}

.word {
  display: inline;
}
