/**
* Keywords container
* 
*/

.keywords {
  overflow: hidden;
}

/**
* Keyword items
* 
*/

.keyword {
  display: inline-block;
  margin: 0 var(--pt3) var(--pt3) 0;
}

.keyword a {
  color: var(--mine-shaft);
  text-decoration: none;
  display: block;
}

.keyword a h1 {
  max-width: calc(100vw - 40px);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.keyword a:focus {
  color: var(--blue);
}

.keyword h1 {
  font-family: var(--title-font);
}

/* 3 or less keywords */
.keyword.small h1 {
  font-size: var(--pt3);
  line-height: var(--pt4);
}

/* 6 or less keywords */
.keyword.medium h1 {
  font-size: var(--pt4);
  line-height: var(--pt5);
}

/* more than 6 keywords */

.keyword.large h1 {
  font-size: var(--pt5);
  line-height: var(--pt6);
}

/**
* Skeleton
* 
*/

.skeleton .keyword {
  border-bottom: none;

  pointer-events: none;
  cursor: default;
}

.skeleton .keyword div:last-child {
  background-color: var(--ziggurat);
}

.skeleton .keyword div:last-child::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--jagged-ice) 50%,
    transparent 100%
  );
}
