.pickup {
  background-color: white;
  padding: var(--pt2);
}
.pickup h2 {
  margin: 0 0 var(--pt2) 0;
}

.top {
  margin-bottom: var(--pt2);
}

.scrollArea {
  height: calc(100% - 20px);
  overflow-y: auto;
}

.link > .arrow {
  outline-offset: var(--pt1);
}

@media (min-width: 576px) {
  .pickup {
    padding: var(--pt4) var(--pt6) var(--pt4) var(--pt6);
  }
}
