.pickup {
  background-color: white;
}
.pickup h2 {
  margin: 0 0 var(--pt2) 0;
}

.top {
  padding-bottom: var(--pt2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.scrollArea {
  padding: var(--pt2);
  height: calc(100% - 37px);
  overflow-y: auto;

  transition-duration: 0.5s;

  -moz-box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0);
  box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0);
}

.link > .arrow {
  margin-left: var(--pt2);
  outline-offset: var(--pt1);
}

.scrollArea.shadow {
  -moz-box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 -24px 24px -24px rgba(0, 0, 0, 0.75);
}

@media (min-width: 576px) {
  .scrollArea {
    height: calc(100% - 42px);
    padding: var(--pt4) var(--pt6);
  }

  .link > .arrow {
    margin-left: var(--pt6);
  }
}
