.pickup {
  background-color: white;
  padding: var(--pt2);
  height: 100%;
  overflow-y: auto;
}
.pickup h2 {
  margin: var(--pt2) 0;
}

.link > .arrow {
  outline-offset: var(--pt1);
}

@media (min-width: 576px) {
  .pickup {
    padding: var(--pt4) var(--pt6) var(--pt4) var(--pt6);
  }
}
