.wrap {
  padding: 0;
}

.content {
  align-items: center;
  cursor: pointer;
}

.content > div:first-child {
  padding-bottom: var(--pt2);
}

.title {
  margin-bottom: var(--pt3);
  position: relative;
  display: inline-block;
}

.text {
  margin-bottom: var(--pt1);
}

.imagewrapper {
  position: relative;
  /* Maintain 16:9 aspect ratio by setting padding-bottom */
  padding-bottom: 56%;
}
.imageskeleton {
  padding-bottom: var(--pt05);
}
