.container {
  padding-top: var(--pt8);
  min-height: calc(80vh);
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: var(--pt3);
  }
}

.title {
  margin-bottom: var(--pt1);
}

.navColumn {
  min-height: calc(80vh);
}

@media screen and (max-width: 991px) {
  .navColumn {
    min-height: 0px;
  }
}

.logoutContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--pt7) * -1);
  align-items: center;
  padding-bottom: var(--pt2);
}
.logoutBtn {
  margin-left: var(--pt4);
  /* margin-right: var(--pt2); */
}
.profileHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .logoutBtnText {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .logoutBtn {
    margin-left: var(--pt4);
    margin-right: 0;
  }
  .logoutContainer{
    margin-top: 0;
  }
}
