/* Standard (mobil først) */

.wrap,
.headerWrap,
.header {
  height: 100%;
}

.wrap {
  position: relative;
  z-index: 2;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.noShadow {
  box-shadow: unset;
}

.headerWrap {
  background-color: var(--white);
}

.header {
  padding: var(--pt1) var(--pt2);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.materials {
  display: flex;
  align-items: center;
}

.materials a {
  margin: 0 var(--pt3) 0 0;
}

.materials a span,
.searchButton span {
  font-family: var(--body-font-medium);
}

.iconActions {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.action {
  display: flex;
  align-items: center;
}

.bottom {
  height: 100%;
}

.bottom .action {
  margin-left: var(--pt4);
}

.mobileSearch {
  display: flex;
}

.materials {
  display: none;
}

.header {
  padding-bottom: var(--pt1);
  height: var(--pt9);
}

.logoWrapper {
  transform: scale(0.82);
  transform-origin: left;
}

.action i {
  transform: scale(0.9);
}

.action + .action {
  margin-left: var(--pt2);
}

.searchButton {
  text-decoration: none;
}

/* Min-width: 992px would be optimal, lag of space make os translate at 1075 instead */
@media (min-width: 1075px) {
  .header {
    padding: var(--pt2_5) var(--pt2);
    height: auto;
  }

  .mobileSearch {
    display: none;
  }

  .materials {
    display: flex;
  }

  .action + .action {
    margin-left: var(--pt3);
  }
}

/* Min-width: 1200px –> større laptops */
@media (min-width: 1200px) {
  .action + .action {
    margin-left: var(--pt3);
  }
}

/* Print */
@media print {
  .wrap {
    display: none;
  }
}
