.search {
  display: flex;
  flex-direction: column;
  padding: 0 var(--pt2) var(--pt2) var(--pt2);
  transform: translateZ(0);
}

.search > .wrap {
  align-items: baseline;
  padding: 0 0 var(--pt3) 0;
}

.wrap {
  display: flex;
  align-items: center;
}

.clear {
  margin-left: var(--pt2);
}

.search form label {
  display: block;
  padding: 0 0 var(--pt1) 0;
}

.search form .element {
  margin: 0 0 var(--pt3) 0;
}

.submit {
  margin-top: auto;
  position: relative;
  z-index: 3;
}

@media (min-width: 576px) {
  .search {
    padding: 0 var(--pt6) var(--pt6) var(--pt6);
  }
}
