.Work p {
    max-width: 800px;
}
.Work h1 {
    color: blue;
    font-size: xx-large; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Collection {
    display: flex;
}
.Collection img {
    max-width: 80px;
}
.Collection > * {
    margin-right: 8px;
}