.color {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.color button {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 12px;

  cursor: pointer;
  transition-duration: 0.3s;
}

.color button:hover {
  background-color: var(--mine-shaft) !important;
  color: white !important;
}

.color span {
  cursor: pointer;
  font-size: 14px;
  margin: var(--pt05) 0 0 0;
}
