.litteratursiden {
  padding-bottom: var(--pt1);
  display: flex;
  align-self: center;
  justify-content: center;
}

.litteratursiden > div {
  width: 100%;
}

.litteratursiden a {
  text-decoration: none;
}

.litteratursiden a:focus {
  color: var(--blue);
}

.media {
  padding: 0 0 var(--pt2) 0;
}

.row {
  display: flex;
}

.left {
  padding: 2px 0 0 0;
}

.author {
  padding: 0;
}

.author p {
  white-space: nowrap;
}

.url {
  padding: var(--pt3) 0 0 0;
  display: inline-flex;
  align-items: center;
}

.url a {
  margin: 0 0 0 var(--pt2);
}

/* Skeleton */

.skeleton .author p {
  display: block;
}
