.input {
  height: var(--pt7);
  width: 100%;
  max-width: 450px;
  border: 1px solid var(--gray);
  padding: 0 var(--pt2);

  font-size: 17px;
  line-height: 26px;
  font-family: var(--body-font);

  /* remove border-radius on iphone */
  border-radius: 0;
  -webkit-appearance: none;
}

.input.valid {
}

.input.error {
  border: 1px solid var(--error);
}

.input.readOnly {
  background-color: var(--concrete);
  color: var(--gray);
  cursor: not-allowed;
}
