.section {
  display: none;
}

.link {
  display: flex;
  align-items: center;
}

.link i {
  margin-right: var(--pt1);
}

.quickfilters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--pt2) 0;
}

@media (min-width: 767px) {
  .section {
    display: block;
  }
}
