.section {
  display: none;
}

.links {
  /*display: flex;
  align-items: center;*/

  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  margin-right: var(--pt2);
}

.links > a {
  display: flex;
  align-items: center;
}

.links > a i {
  margin-right: var(--pt1);
}

.nopadding{
  position: relative;
  padding: 0;
}
.fullwidth{
  max-width: 100%;
}

.quickfilters {
  width: 100%;
  background-color: var(--concrete);
  border-bottom: 1px solid var(--shadow-effect  );
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: var(--pt1) 0 var(--pt1) 0;
}

@media (min-width: 992px) {
  .section {
    display: block;
  }
}
