.section {
  display: none;
}

.links {
  display: flex;
  align-items: center;
}

.links > a {
  display: flex;
  align-items: center;
  margin-left: var(--pt2);
}

.links > a i {
  margin-right: var(--pt1);
}

.quickfilters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--pt2) 0;
}

@media (min-width: 767px) {
  .section {
    display: block;
  }
}
