.icon {
  cursor: pointer;
}

.icon svg path {
  /* default as blue icon */
  stroke: var(--blue);
  fill: var(--blue);
}
.close {
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  display: flex;
}
.textWrapper {
  margin: 0 var(--pt1) 0 0;
}
