.icon {
  cursor: pointer;
}

.icon svg path {
  /* default as blue icon */
  stroke: var(--blue);
  fill: var(--blue);
}
.container {
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
}
.textWrapper {
  margin: 0 var(--pt1) 0 0;
}

.focusStyle:focus-visible {
  outline: 1px solid var(--blue);
}

.disabled {
  pointer-events: none;
}
