.librariesTable {
  width: 100%;
}
.tableItem {
  display: grid;
  grid-template-columns: 6fr 2fr;
  padding: var(--pt3) 0;
  grid-gap: var(--pt3);
  align-items: center;
}
.libraryInfo {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;
  grid-gap: var(--pt2);
}
.libraryInfo p {
  text-align: initial;
}
.headerItem {
  text-align: initial;
}
@media (max-width: 575px) {
  .libraryInfo {
    display: block;
  }

  .headerItem {
    display: none;
  }

  .tableItem {
    grid-template-columns: 6fr 1fr;
  }
  .municipalityOfResidence {
    font-size: 17px;
  }
}
.headerRow {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  margin-top: var(--pt7);
  border-bottom: 1px solid var(--iron);
  width: 100%;
}
.tableItem {
  width: 100%;
}
