.tableItem {
  display: grid;
  grid-template-columns: 6fr 2fr;
  padding: var(--pt3) 0;
  grid-gap: var(--pt3);
  align-items: center;
}
.libraryInfo {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;
  grid-gap: var(--pt2);
}
@media (max-width: 550px) {
  .libraryInfo {
    display: block;
  }

  .headerItem {
    display: none;
  }
}
.headerRow {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  margin-top: var(--pt3);
  border-bottom: 1px solid var(--iron);
  width: 100%;
}

.removeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
.removeButtonIcon {
  margin-left: var(--pt1);
}

.textLabel {
  color: var(--blue);
}
