.info {
  position: relative;
  height: 100%;
}

.edition {
  padding: var(--pt2) 0;
  background-color: var(--concrete);

  display: flex;
}

.creators {
  padding: var(--pt1) 0 0 0;
}

.material {
  padding: var(--pt2) 0 0 0;
}

.material span {
  margin: 0 var(--pt2) 0 0;
}

.about {
  flex-grow: 2;
}

.cover,
.cover > div,
.cover > div img {
  width: auto !important;
  height: 100% !important;
}

.edition,
.pickup,
.user {
  padding: var(--pt2);
}

@media (min-width: 576px) {
  .edition,
  .pickup,
  .user {
    padding: var(--pt2) var(--pt6) var(--pt3) var(--pt6);
  }
}
