.feedbackwrap {
    position: fixed;
    right: 0;
    top: 40%;
    display: flex;
    align-items: center;
    height: 115px;
    max-width: 225px;
    z-index: 101;

}

.feedbackcloseicon {
    position: relative;
    left: -15px;
    top: 10px;
    cursor: pointer;
}

.feedbacklink {
    display: block;
    text-align: center;
    padding: 0 5px 0 5px;
}

.blue {
    background-color: var(--blue);
    height: inherit;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--gray);
}

.textrotate {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    color: var(--white);
    padding: 8px 3px 15px 3px;
    width: 30px;
}

.feedbackicon {
    position: relative;
    right: -12px;
    bottom: 5px;
}

.feedbackopen {
    display: block;
    animation: fade_in_show 0.35s;
    border: 1px solid var(--blue);
    border-right: 0;
    height: inherit;
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--gray);
}

.feedbackclosed {
    border: 1px solid var(--blue);
    border-right: 0;
    height: inherit;
    background-color: var(--white);
    display: none;

}

@keyframes fade_in_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feedbackhidden {
    display: none;
}
