.container {
  width: 100%;
  padding-bottom: var(--pt4);
  padding-top: var(--pt4);
}

.background {
  background-color: var(--concrete);
}

.right {
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.topContainer {
  display: flex;
  margin-bottom: var(--pt4);

  width: 100%;
  align-items: center;
}

.buttonRow {
  margin-top: var(--pt4);
}

.button {
  width: 300px;
}

.button_group {
  display: flex;
  gap: var(--pt2);
  align-items: center;
}
