.yearTitle {
  margin-top: var(--pt8);
  margin-bottom: var(--pt2);
  text-align: left;
}

.filters + div .yearTitle {
  margin-top: 0;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(-1 * var(--pt2));
  margin-right: calc(-1 * var(--pt2));
  margin-bottom: var(--pt3);
  padding-left: var(--pt1);
  padding-right: var(--pt1);
  flex-wrap: wrap;
  gap: var(--pt1);
}

.filters > div {
  flex-shrink: 0;
}
.filters button {
  padding: 0 var(--pt1);
}

.workscontainer {
  margin-left: calc(-1 * var(--pt1));
  margin-right: calc(-1 * var(--pt1));
}

.explanationText {
  margin-top: var(--pt1);
}
.publishedFromText {
  margin-top: var(--pt1);
}

@media (min-width: 992px) {
  .filters {
    margin-left: calc(-1 * var(--pt1));
  }
  .workscontainer {
    margin-left: 0;
    margin-right: 0;
  }
}
