.yearTitle {
  margin-top: var(--pt8);
  margin-bottom: var(--pt2);
  text-align: right;
}
.filters + div .yearTitle {
  margin-top: var(--pt6);
}

.filters {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * var(--pt2));
  margin-right: calc(-1 * var(--pt2));
  padding-left: var(--pt1);
  padding-right: var(--pt1);
  flex-wrap: wrap;
  gap: var(--pt1);
}

.filters > div {
  flex-shrink: 0;
}

.noResults {
  margin-top: var(--pt3);
  margin-bottom: var(--pt3);
  text-align: left;
  color: var(--gray-dark);
}

.workscontainer {
  margin-top: calc(var(--pt4) * -1);
  margin-left: calc(-1 * var(--pt1));
  margin-right: calc(-1 * var(--pt1));
}

.explanationText {
  margin-top: var(--pt1);
}
.hitcountText {
  margin-top: var(--pt1);
}

@media (min-width: 576px) {
  .filters + div .yearTitle {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .filters {
    margin-left: calc(-1 * var(--pt1));
  }
  .workscontainer {
    margin-left: 0;
    margin-right: 0;
  }
}
