.text {
  font-family: var(--body-font);
}

.text1 {
  font-size: 17px;
  line-height: 24px;
  font-family: var(--body-font-bold);
}

.text2 {
  font-size: 17px;
  line-height: 24px;
}

.text3 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
