.text {
  font-family: var(--body-font);
  display: block;

  /* Bootstrap default override */
  margin: 0;
}

.text1 {
  font-size: 17px;
  line-height: 26px;
  font-family: var(--body-font-bold);
}

.text2 {
  font-size: 17px;
  line-height: 26px;
}

.text3 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.text4 {
  font-size: 14px;
  line-height: 22px;
  font-family: var(--body-font-bold);
}
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 
* Skeleton
*
*/

.skeleton {
  position: relative;
  pointer-events: none;
  cursor: default;
}

.skeleton > * {
  color: transparent;
}

.skeleton p {
  /* large block of text to only 1 line */
  white-space: nowrap;
  overflow: hidden;
}
