.dots_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--pt2);
  padding-top: var(--pt3);
  max-width: 200px;
  margin: auto;

  gap: var(--pt3);

  align-self: end;
}

.dot {
  isolation: isolate;
  cursor: pointer;

  z-index: 1;

  width: 0;
  height: 0;

  transform: scale(1);
}

.dot::after {
  isolation: isolate;
  content: "";
  position: absolute;

  z-index: 1;

  width: var(--pt1);
  height: var(--pt1);
  left: 50%;
  top: 50%;
  border-radius: 50%;

  background-color: var(--iron);
  transform: translate(-50%, -50%);
}

.dot::before {
  content: "";
  position: absolute;

  z-index: -1;

  width: var(--pt2);
  height: var(--pt2);

  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot:is(:hover, :focus)::after,
.dot.active_dot::after {
  transform: translate(-50%, -50%);
}

.dot.active_dot {
  z-index: 1;
}

.dot.active_dot::after {
  background-color: var(--mine-shaft);
}

.plus_covers {
  cursor: default;
  color: var(--gray);
  transform: translateX(calc(var(--pt1) * -1));
}
