.sort_container {
  display: inline-flex;
  gap: var(--pt1);
  align-items: center;
  margin-bottom: var(--pt2);
  margin-top: var(--pt2);
}

.titleStyle {
  margin-bottom: var(--pt1);
}

.subtitleStyle {
  font-family: var(--body-font-semibold);
  border-bottom: 1px solid var(--blue);
  margin: var(--pt4) 0 var(--pt2) 0;
}

.sectionTitleClass h2 {
  margin-top: var(--pt2);
  font-size: 17px;
  font-family: var(--body-font-semibold);
}

.titleflex {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--pt4);
}

.countstyle {
  color: var(--blue);
  margin-right: var(--pt05);
}

.sectionContentStyle {
  position: relative;
  top: -55px;
}

.facetsContainer {
}

.mobileTags {
  display: none;
}

@media (max-width: 991px) {
  .sort_container {
    display: flex;
    position: relative;
    top: -55px;
    justify-content: end;
    margin-bottom: -50px;
  }
  .facetsContainer {
    display: none;
  }
  .mobileTags {
    width: 100%;
    display: block;
  }
  .titleflex {
    margin-top: var(--pt2);
    border-top: 1px solid var(--iron);
    padding-top: var(--pt1);
  }
}
