.sort_container {
  display: inline-flex;
  gap: var(--pt1);
  align-items: center;
}

.padding_top {
  padding-top: var(--pt2);
}
.titleStyle {
  color: var(--primary-blue-3333-ff, #33f);
}

.loadingSort{
  padding: var(--pt2) 0;
}