.sort_container {
  display: inline-flex;
  gap: var(--pt1);
  align-items: center;
}

.no_hits {
  padding-top: var(--pt5);
}

.no_hits__description {
  padding-top: var(--pt3);
}

.no_hits__list_item {
  margin-left: var(--pt2_5);
  padding-left: var(--pt075);
}

.no_hits__list_item::marker {
  font-size: 0.8em;
}

.no_hits__help_text {
  padding-top: var(--pt3);
}

.padding_top {
  padding-top: var(--pt2);
}
.titleStyle {
  color: var(--blue);
}

.loadingSort {
  padding: var(--pt2) 0;
}
