/**
* Stylesheet for global reusable styles
*
*/

@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import "./colors.css";
@import "./fonts.css";
@import "./breakpoints.css";
@import "./spacing.css";
@import "./reset.css";

:root {
  --bounce-effect: cubic-bezier(0.38, 1.95, 0.4, 0.4);
  --shadow-effect: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.relative {
  position: relative;
}

/* content wrapper */
.container {
  height: 100%;
}

@media screen and (min-width: calc(1440px + (2*40px))) {
  .container {
    max-width: 1440px;

    /* override guid spacing prop margin */
    margin: auto !important;
  }
}
