/**
* Stylesheet for global reusable styles
*
*/

@import "./bootstrap.override.css";
@import "./swiper-bundle.min.css";
@import "./colors.css";
@import "./fonts.css";
@import "./breakpoints.css";
@import "./spacing.css";
@import "./reset.css";

/* modal */
@import "./modal.css";

:root {
  --bounce-effect: cubic-bezier(0.38, 1.95, 0.4, 0.4);
  --shadow-effect: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.relative {
  position: relative;
}

/* content wrapper */
.container {
  height: 100%;
}

/* Align items center in review slider */
.alignCenter {
  align-items: center;
}

.search-settings {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.inspiration-section-about h1 {
  margin-bottom: var(--pt1);
}

@media (min-width: 768px) {
  .inspiration-section-about {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .search-settings {
    box-shadow: unset;
  }
}

@media screen and (min-width: 1400px) {
  .container,
  .container-fluid {
    max-width: 1400px;

    /* override grid spacing prop margin */
    margin: auto;
  }
}
