.promoted section > div:first-child {
  margin-bottom: var(--pt2);
}

.promoted section div:first-child > hr {
  display: none;
}

.button {
  margin-top: var(--pt2);
  width: 100%;
}

@media (min-width: 576px) {
  .button {
    width: auto;
  }
}

@media (min-width: 992px) {
  .promoted section div:first-child > hr {
    display: block;
  }

  .promoted section div:last-child > hr {
    display: none;
  }
}
