.background {
  margin-top: var(--pt8);
  color: white;
  padding-top: var(--pt8);
}

.containerback {
  background-color: var(--blue);
}

.footerlink hr {
  background-color: white;
}

.spacer {
  height: var(--pt1);
}

.padder {
  padding-bottom: var(--pt5);
}

.footerlink span,
.footerlink:hover span,
.footerlink:focus span {
  color: var(--white);
}

.disabled {
  color: var(--gray);
  cursor: default;
  pointer-events: none;
}

.about {
  padding-top: var(--pt5);
}

@media (min-width: 768px) {
  .about {
    padding-top: 0;
  }
}

/* Print styles */

@media print {
  .containerback {
    display: none;
  }
}
