.background {
  margin-top: var(--pt10);
  color: white;
  padding-top: var(--pt10);
}

.containerback {
  background-color: var(--blue);
}

.footerlink {
  color: var(--white);
}

.footerlink hr {
  background-color: white;
}

.spacer {
  height: var(--pt1);
}

.padder {
  padding-bottom: var(--pt5);
}

.footerlink:hover,
.footerlink:focus {
  color: var(--white);
}
