.materialRow {
  display: grid;
  grid-column-gap: var(--pt3);
  grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
  padding: var(--pt2);
}

.materialRow_withCheckbox {
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
  cursor: pointer;
}

.materialRow_withCheckbox:focus-visible, .materialRow_withCheckbox:hover {
  outline: 1px solid var(--blue);
}

.materialRow_wrapper {
  width: 100%;
  border-top: 1px solid var(--iron);
}

.materialRow_wrapper:last-of-type() {
  border-bottom: 1px solid var(--iron);
}

.materialRow_green {
  background-color: var(--success-light);
}

.materialRow_red {
  background-color: var(--error-light_temp);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}