.materialHeaderRow {
  display: grid;
  grid-column-gap: var(--pt3);
  grid-template-columns: 4fr 2fr 2fr 1fr;
  padding: var(--pt05) var(--pt1);
  border-bottom: 1px solid var(--iron);
}

.materialRow {
  display: grid;
  grid-column-gap: var(--pt3);
  grid-template-columns: 4fr 2fr 2fr 1fr;
  padding: var(--pt2) var(--pt1);
}

.materialRow_withCheckbox {
  grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
  cursor: pointer;
}

.materialRow_withCheckbox:focus-visible, .materialRow_withCheckbox:hover {
  outline: 1px solid var(--blue);
}

.materialRow_wrapper {
  width: 100%;
  border-bottom: 1px solid var(--iron);
}

.materialRow_green {
  background-color: var(--success-light);
}

.materialRow_red {
  background-color: var(--error-light_temp);
}

.materialRow_mobile {
  display: grid;
  grid-column-gap: var(--pt3);
  grid-template-columns: 1fr 3fr;
  padding: var(--pt2);
}

.materialRow_mobile:focus-visible {
  outline: 2px solid var(--blue);
}

.materialRow_mobile:focus-visible, .materialRow_mobile:hover {
  
}

.materialInfo {
  display: flex;
}

.imageContainer {
  width: var(--pt7);
  margin-right: var(--pt5);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.dynamicColumn_mobile {
  margin-top: var(--pt1);
}