.element {
  border-bottom: 1px solid var(--iron);
}

.element:first-child {
  border-top: 1px solid var(--iron);
}

.element .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--pt2) 0;
  cursor: pointer;
}

.element .header:hover {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: var(--blue);
  margin: -1px 0 -1px 0;
}

.element .header p {
  margin-right: var(--pt2);
}

.firstelement {
  padding-left: var(--pt2);
  width: 20%;
}

.textbox {
  display: grid;
  grid-template-columns: 30% 38% 32%;
  align-items: center;
}

.textbox {
  display: block;
  width: 100%;
}

.textbox p:first-of-type {
  font-weight: var(--body-font-semibold);
  display: block;
}
.textbox p {
  justify-self: start;
  display: none;
}

.content > div {
  padding-top: var(--pt2);
}

.content p {
  padding-right: var(--pt7);
}

.skeleton {
  pointer-events: none;
}

.open {
  background-color: var(--concrete);
}

@media (min-width: 992px) {
  .content p {
    padding-right: var(--pt10);
  }

  .textbox p {
    display: block;
  }

  .firstelement {
    width: 10%;
  }

  .textbox {
    display: grid;
    grid-template-columns: 5fr 7fr 6fr;
    align-items: center;
    width: 100%;
  }

  .element .header {
    padding: var(--pt2) var(--pt3) var(--pt2) 0;
  }
}
