@media (min-width: 576px) {
  .container {
    padding-inline: var(--pt2);
  }
}

.table_grid {
  display: grid;
}

.table_grid > *:first-child {
  border-top: 1px solid var(--iron);
}

.table_grid > *:nth-child(2n) {
  background-color: var(--concrete);
}

.historyFilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--pt1) var(--pt1) 0 0;
}

.filteritem {
  margin-left: var(--pt1);
  color: var(--blue);
  text-decoration: underline;
}

.itemsheader {
  border-bottom: 1px solid var(--iron);
  margin-bottom: var(--pt2);
}

@media (min-width: 576px) {
  .table_grid > *:first-child {
    border-top: none;
  }

  .table_grid > *:nth-child(2n) {
    background-color: var(--white);
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto 1fr;
  --grid_template_areas: "checkbox search_query search_query"
    "checkbox timestamp hitcount";
  grid-template-areas: var(--grid_template_areas);
  padding-left: var(--pt1);
  column-gap: var(--pt2);
}

@media (min-width: 576px) {
  .grid {
    --grid_template_areas: "checkbox timestamp search_query hitcount";
    grid-template-columns: var(--pt2) 2fr 15fr 3fr;
  }
}

@media (min-width: 992px) {
  grid-template-columns: var(--pt2) 1fr 10fr 1fr;
}

.checkbox {
  grid-area: checkbox;
  top: var(--pt05);
}

.timestamp {
  grid-area: timestamp;
  padding-right: var(--pt4);
}

@media (min-width: 576px) {
  .timestamp {
    padding-right: 0;
  }
}

.link {
  grid-area: search_query;
}

.hitcount {
  grid-area: hitcount;
}

.actionheader {
  padding-left: var(--pt2);
  display: flex;
  gap: var(--pt3);
  justify-content: flex-start;
  margin-bottom: var(--pt4);
}

@media (min-width: 576px) {
  .actionheader {
    padding-left: var(--pt1);
  }
}

.emptysearchpage {
  margin-bottom: 320px;
}

.lessergap {
  margin-left: calc(var(--pt2) * -1);
}

.title {
  padding-top: var(--pt2);
  margin-bottom: var(--pt3);
  padding-left: var(--pt2);
}

@media (min-width: 576px) {
  .title {
    padding-left: 0;
  }
}

.disabled_link {
  color: var(--dove);
}

.header {
  margin-bottom: var(--pt2);
  border-bottom: 1px solid var(--iron);
}

.flex {
  display: flex;
}

.icon {
  margin-left: var(--pt1);
}

.row {
  padding: var(--pt1) 0 var(--pt1) var(--pt2);
  border-bottom: 1px solid var(--iron);
}

@media (min-width: 576px) {
  .row {
    padding-left: var(--pt1);
  }
}

.inline {
  display: inline;
  margin-right: var(--pt05);
}

.row:hover {
  background-color: var(--concrete);
}

.action {
  cursor: pointer;
}
