.info {
  display: grid;
  --info__grid_template_areas: "infoDate infoPrint" "infoLector infoLector";
  grid-template-areas: var(--info__grid_template_areas);
  column-gap: var(--pt8);
  row-gap: var(--pt1);
  padding-top: var(--pt2);
  padding-bottom: var(--pt2);
}

.info__date {
  grid-area: infoDate;
}

.info__lector {
  grid-area: infoLector;
}

.info__print {
  grid-area: infoPrint;
  margin-left: auto;
}

@media (min-width: 576px) {
  .info {
    padding-inline: var(--pt1);
  }
}

@media (min-width: 1200px) {
  .info {
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr;
    --info__grid_template_areas: "infoDate infoLector infoPrint";
  }
}

@media print {
  .info__print {
    display: none;
  }
}
