.content p {
  padding: 0 var(--pt1);
  background-color: transparent;
}

.content div:nth-child(2n) p {
  background-color: var(--concrete);
}

.skeleton p {
  /* Remove above concrete bg-color from p in skeleton mode */
  background-color: transparent;
}

.arrowAndTxtContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
