.orderNotPossible {
  color: var(--error);
  padding-top: var(--pt1);
  padding-bottom: var(--pt05);
}

.errorLabel {
  color: var(--error_temp);
}

.path_blue,
.path_blue * {
  color: var(--error);
  stroke: var(--blue);
}
