.action {
  padding: var(--pt2);
}

/*TODO are we sure about this? */
/* .action {
  margin-top: auto;
} */

/* action */

.action .message {
  padding: 0 0 var(--pt2) 0;
}

.goToOrderHistory {
  padding-top: var(--pt6);
}

@media (min-width: 576px) {
  .action {
    padding: var(--pt3) var(--pt6);
  }
}
