.section {
  /*margin-top: calc(var(--pt16) * -1);*/
  margin-top: 0;
}

.skip {
  position: absolute;
  transform: translateX(-100%);
  display: none;
}

.word:last-child {
  margin-right: 0;
}

.word {
  margin: 0 var(--pt2) var(--pt2) 0;
}

.words {
  padding-bottom: var(--pt1);
}

@media (min-width: 576px) {
  .word {
    margin-right: var(--pt3);
    margin-bottom: var(--pt2);
  }
}
