.inputContainer{
  display: flex;
}
.suggester__wrap {
    margin-bottom: var(--pt2);
    flex-grow: 2;
    max-width: 672px;
  }
  
  .suggester {
    max-width: 100%;
  }
  .select {
    white-space: nowrap;
    height: var(--pt7);
  }
  .removeIcon{
    margin-left: var(--pt2);
    padding-bottom: var(--pt2);

  }
  