.viewselector {
  display: flex;
}
.viewbutton {
  margin-left: var(--pt3);
  /* margin-bottom: var(--pt3); */
  cursor: pointer;
  padding: 2px 6px;
}
.viewbutton path {
  fill: var(--mine-shaft);
  stroke: var(--mine-shaft);
}

.viewbutton.selected path {
  fill: var(--blue) ;
  stroke: var(--blue);
}

.viewbutton:hover,
.viewbutton:focus {
  background: var(--iron);
}
