.container {
  position: relative;
}

.container__open {
}

.input_wrap {
  height: 64px;
  display: flex;
  align-items: center;
  padding: var(--pt2) var(--pt2) var(--pt2) 0;
  border-bottom: 1px solid var(--gray);
}

.input_wrap .arrow {
  /* override dynamic style */
  width: 56px !important;
  text-align: center;
}

.input_wrap .arrow path {
  fill: var(--blue);
}

.input {
  width: 100%;
  height: 32px;
  font-size: 17px;
  line-height: 26px;
  font-family: var(--body-font);
  border: none;
}

.input__open {
  border-bottom: none;
}

.input__focused {
  border-bottom: 1px solid var(--mine-shaft);
}

.suggestions_container {
  display: none;
}

.suggestions_container__open {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;

  background-color: #fff;
  border-top: none;
}

.suggestions_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: var(--pt05) var(--pt2);
}

.suggestion__highlighted {
  background-color: var(--iron);
}

.suggestion .match {
  color: var(--blue);
}

/* Skeleton */
.skeleton .suggestion {
  max-width: 400px;
}

@media (min-width: 992px) {
  .input {
    height: 100%;
    padding: 16px;
    border: 1px solid var(--gray);
  }

  .input__focused {
    border: 1px solid var(--gray);
  }

  .input_wrap {
    height: 64px;
    /* display: flex;
    align-items: center; */
    padding: 0;
    border: none;
  }

  .input_wrap .arrow {
    display: none;
  }

  .suggestions_container__open {
    top: calc(100% - 1px);

    border: 1px solid var(--gray);
    border-top: none;
  }
}
