.skiptomainlink {
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute !important;
}

.skiptomainlink:focus {
    padding: 1rem;
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    z-index: 10;
    width: auto;
    height: auto;
    border: 1px solid var(--mine-shaft);
}
