.menu {
  padding: var(--pt2);
  overflow: hidden;
}

.trigger,
.wrap,
.arrow,
.trigger span {
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pt1) 0;
  cursor: pointer;
  color: white;
}

/* custom animationline */
.trigger:focus-visible .link hr:last-child,
.trigger:hover .link hr:last-child {
  display: none;
}

.trigger:focus-visible .link hr,
.trigger:hover .link hr {
  transform: scale(1);
}
/*  */

/* Arrow */
.trigger .arrow {
  margin: 0;
  padding: 0;
  width: 16px;
}

.menu.expanded .trigger span {
  width: 18px;
  transform: translate(-15px, 0);
}

/* trigger button */
.menu.expanded .trigger {
  transform: translate(calc(-100% + 48px));
  padding-right: var(--pt2);
}

.menu.expanded .trigger:focus-visible span {
  transform: none;
  outline: solid 1px var(--white);
  outline-offset: 12px;
}

.menu.expanded .trigger:focus-visible span {
}

/* imported arrow custom override */
.menu .arrow div {
  border-bottom: 12px solid var(--white);
}

.outerWrap {
  overflow: hidden;
}

/* content wrap */
.wrap {
  width: 200%;
  display: flex;
  flex-wrap: nowrap;
}

.menu.expanded .wrap {
  transform: translate(-50%);
  position: relative;
}

.wrap ul {
  width: 100%;
}

.wrap li {
  list-style: none;
  padding: var(--pt1) 0;
  cursor: pointer;
}

/* Link -> link component styles override */

.link,
.link:hover,
.link:focus-within {
  color: white !important;
}
.link div hr {
  background-color: white;
}

li.language {
  padding-top: var(--pt7);
}

@media (min-width: 576px) {
  .menu {
    padding: var(--pt3) var(--pt6) var(--pt6) var(--pt6);
  }

  .trigger {
    /* display: none; */
  }
}

@media (hover: hover) {
  .menu .trigger:hover span .arrow,
  .menu .trigger:focus-visible span .arrow {
    animation: shakeLeft 0.4s cubic-bezier(0.3, 1, 0.32, 1.3);
  }

  .menu.expanded .trigger:hover span .arrow,
  .menu.expanded .trigger:focus-visible span .arrow {
    animation: shakeRight 0.4s cubic-bezier(0.3, 1, 0.32, 1.3);
  }
}

@keyframes shakeLeft {
  from {
    transform: translate(-10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes shakeRight {
  from {
    transform: translate(10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
