.background {
  background-color: var(--concrete);
}

.overview {
  padding: var(--pt3) 0 var(--pt7) 0;
}

.overview p {
  margin: 0;
}

.breadcrumbs {
  padding-bottom: var(--pt3);
}

.cover_and_materialInformation {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
  grid-template-columns: none;
  row-gap: var(--pt4);
  /* Remove the padding from Bootstrap Row */
  padding-right: calc(var(--pt2) * -1);
  padding-left: calc(var(--pt2) * -1);
}

.cover {
  /* Padding is beyond cover width */
  /* Remove the padding from Bootstrap Row */
  padding-right: calc(var(--pt2) * -1);
  padding-left: calc(var(--pt2) * -1);
}

.about {
  /* Re-add the padding from Bootstrap Row */
  padding-right: calc(var(--pt2) * 1);
  padding-left: calc(var(--pt2) * 1);
}

.ornament {
  padding-top: var(--pt3);
  padding-bottom: var(--pt3);
}

.materials {
  padding-top: var(--pt5);
}

.materials button {
  margin: 0 var(--pt2) var(--pt2) 0;
}

.materials button:last-child {
  margin: 0 0 var(--pt2) 0;
}

.basket {
  padding-top: var(--pt3);
}

.info {
  padding-top: var(--pt1);
}
.info p:first-letter {
  text-transform: uppercase;
}

.skeleton {
  background-color: white;
}

@media (min-width: 768px) {
  .cover_and_materialInformation {
    display: grid;
    grid-template-columns: 1fr minmax(300px, max-content);
    /*fit-content(100%);*/
    grid-template-rows: none;
  }

  .about {
    /* Have the left but not right padding from Bootstrap Row */
    padding-right: calc(var(--pt2) * -1);
    padding-left: calc(var(--pt2) * 1);
  }

  .overview {
    padding: var(--pt8) 0 var(--pt7) 0;
  }

  .breadcrumbs {
    padding-bottom: var(--pt4);
  }
}
