.background {
  background-color: var(--concrete);
}

.overview {
  padding: var(--pt3) 0 var(--pt14) 0;
}

.overview p {
  margin: 0;
}

.breadcrumbs {
  padding-bottom: var(--pt3);
}

.cover {
  max-width: 200px;
  /* Padding is beyond cover width */
  box-sizing: content-box;
  padding-bottom: var(--pt2);
}

.about {
  padding-right: var(--pt3);
}

.ornament {
  padding-top: var(--pt3);
  padding-bottom: var(--pt3);
}

.creators {
  text-transform: capitalize;
}

.actions {
  padding: var(--pt5) 0 0 0;
}

.materials {
  padding-top: var(--pt5);
}

.materials button {
  margin: 0 var(--pt2) var(--pt2) 0;
}

.materials button:last-child {
  margin: 0 0 var(--pt2) 0;
}

.basket {
  padding-top: var(--pt3);
}

.info {
  padding-top: var(--pt2);
}

.externalLink i {
  height: 20px !important;
  width: 20px !important;
  margin-right: var(--pt1);
}
.externalLink img {
  margin-bottom: -2px;
}

/* 
* Skeleton
*
*/

.skeleton {
  background-color: white;
}

@media (min-width: 768px) {
  .overview {
    padding: var(--pt8) 0 var(--pt14) 0;
  }

  .breadcrumbs {
    padding-bottom: var(--pt4);
  }
}
