.dropdownMenu {
  width: 125px;
  gap: var(--pt2);
  display: flex;
  flex-direction: column;
}
.menuItem {
  width: fit-content;
}
.tagContainer {
  display: flex;
  gap: var(--pt1_5);
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  margin-left: calc(var(--pt2) * -1);
  padding: var(--pt2);
}

.tagWrapper {
  display: grid;
}

@media (min-width: 992px) {
  .tagContainer {
    padding: var(--pt2) var(--pt2) 0 var(--pt2);
  }
}
