.background {
  padding: 0 0 var(--pt5) 0;
}

.topSpace {
  padding-top: var(--pt10);
}

.background section:last-child {
  padding: var(--pt5) 0 0 0;
}

.divider {
  width: 50%;
  height: 1px;
  margin: 0 0 var(--pt2) 0;
  border: none;
}

.section div:first-child .divider {
  background-color: var(--iron);
}

.background .divider {
  background-color: transparent;
}

.background .section div:first-child .divider {
  display: none;
}

.noTitleDivider,
.noContentDivider {
  padding-top: var(--pt2);
}

.hide{
  display: none;
}

@media (min-width: 992px) {
  .divider {
    width: 100%;
    background-color: var(--iron);
  }

  .background .divider {
    display: none;
  }

  .noTitleDivider,
  .noContentDivider {
    padding-top: 0;
  }
}
