.title {
  padding-bottom: var(--pt3);
}

/* has divider class */

hr.divider {
  width: 50%;
  height: 1px;
  margin: 0 0 var(--pt2) 0;
  border: none;
  background-color: var(--iron);
}

.background hr.divider {
  display: none;
}

@media (min-width: 992px) {
  .title hr.divider {
    width: 100%;
  }

  .title {
    padding-bottom: 0;
  }
}
