.Button {
  background-color: transparent;
  font-family: var(--body-font-medium);
}

.Button:hover {
  cursor: pointer;
}

/* Button Types */

.Button.filled {
  background-color: var(--blue);
  color: var(--white);
}

.Button.filled:hover {
  background-color: var(--mine-shaft);
  color: var(--white);
}

.Button.filled.disabled {
  background-color: var(--concrete);
}

.Button.outlined {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.Button.outlined:hover {
  border: 1px solid var(--mine-shaft);
  color: var(--mine-shaft);
}

.Button.outlined.disabled {
  border: 1px solid var(--concrete);
}

/* Button Sizes */

.Button.large {
  font-size: 20px;
  padding: var(--pt2) var(--pt10);
}

.Button.medium {
  font-size: 17px;
  padding: var(--pt1) var(--pt6);
}

.Button.small {
  font-size: 13px;
  padding: var(--pt1) var(--pt4);
}

/* Disabled */

.Button.disabled {
  pointer-events: none;
  cursor: default;
}

.Button.disabled,
.Button.disabled:hover {
  color: var(--gray);
}
