.Button {
  background-color: transparent;
  font-family: var(--body-font-medium);
}

.Button:hover {
  cursor: pointer;
}

/* 
* Button Types 
*
*/

/* Primary */

.Button.primary {
  background-color: var(--blue);
  color: var(--white);
  display: block;
  width: 100%;
}

.Button.primary:hover {
  background-color: var(--mine-shaft);
  color: var(--white);
}

.Button.primary.disabled {
  background-color: var(--concrete);
}

/* Secondary */

.Button.secondary {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.Button.secondary:hover {
  border: 1px solid var(--mine-shaft);
  color: var(--mine-shaft);
}

.Button.secondary.disabled {
  border: 1px solid var(--concrete);
}

/* 
* Button Sizes 
*
*/

/* primary */
.Button.primary.large {
  font-size: 20px;
  padding: var(--pt1) 0;
}

.Button.primary.medium {
  font-size: 17px;
  padding: var(--pt1) 0;
}

.Button.primary.small {
  font-size: 13px;
  padding: var(--pt1) 0;
}

/* secondary */
.Button.secondary.large {
  font-size: 20px;
  padding: var(--pt1) var(--pt10);
}

.Button.secondary.medium {
  font-size: 17px;
  padding: var(--pt1) var(--pt6);
}

.Button.secondary.small {
  font-size: 13px;
  padding: var(--pt1) var(--pt4);
}

/* 
* Disabled 
*
*/

.Button.disabled {
  pointer-events: none;
  cursor: default;
}

.Button.disabled,
.Button.disabled:hover {
  color: var(--gray);
}
