.h-border-bottom,
.f-border-bottom {
  display: inline-block;
  position: relative;
}
.h-border-bottom::after,
.f-border-bottom::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  border-bottom: solid 1px var(--blue);
  transform: scaleX(0);
}
.on-hover:hover.h-border-bottom::after,
.on-hover:hover .h-border-bottom::after,
.on-focus:focus-visible.f-border-bottom::after,
.on-focus:focus-visible .f-border-bottom::after {
  transform: scaleX(1);
  transition: transform 0.4s;
}

/* Translation */
.h-translate-right,
.f-translate-right {
  transition: transform 0.3s;
}
.on-hover:hover.h-translate-right,
.on-hover:hover .h-translate-right,
.on-focus:focus-visible.f-translate-right,
.on-focus:focus-visible .f-translate-right {
  transform: translateX(var(--pt2));
}

.on-hover:hover.h-color-blue,
.on-hover:hover .h-color-blue,
.on-focus:focus-visible.f-color-blue,
.on-focus:focus-visible .f-color-blue {
  color: var(--blue);
}

.on-hover:hover.h-outline,
.on-hover:hover .h-outline,
.on-focus:focus-visible.f-outline,
.on-focus:focus-visible .f-outline {
  outline: solid 1px var(--blue);
  border-color: transparent !important;
}

/* Bounce */
.h-bounce-right,
.f-bounce-right,
.h-bounce-left,
.f-bounce-left {
  transition: transform 0.3s;
}
.on-hover:hover.h-bounce-right,
.on-hover:hover .h-bounce-right,
.on-focus:focus-visible.f-bounce-right,
.on-focus:focus-visible .f-bounce-right,
.on-focus:focus-visible ~ .f-bounce-right {
  animation: bounceRight 0.4s cubic-bezier(0.3, 1, 0.32, 1.3);
}

.on-hover:hover.h-bounce-left,
.on-hover:hover .h-bounce-left,
.on-focus:focus-visible.f-bounce-left,
.on-focus:focus-visible .f-bounce-left,
.on-focus:focus-visible ~ .f-bounce-left {
  animation: bounceRight 0.4s cubic-bezier(0.3, 1, 0.32, 1.3);
}

@keyframes bounceLeft {
  from {
    transform: translate(-10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes bounceRight {
  from {
    transform: translate(10px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

/* elastic */

.on-hover:hover.h-elastic,
.on-hover:hover .h-elastic,
.on-focus:focus-visible.f-elastic,
.on-focus:focus-visible .f-elastic,
.on-focus:focus-visible ~ .f-elastic {
  animation: elastic 0.4s cubic-bezier(0.3, 1, 0.32, 1.3);
}

@keyframes elastic {
  20% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* ================================================================= */
/* ================================================================= */
/* CONTROL UNDERLINE */
/* Set color of background image, when colors are overridden */
/*   as used in etc. styles.underlineVarContainer (BlockedUserInformation) */
.underlineContainer {
  /*--underline-background-image: linear-gradient(var(--underline-line-color), var(--underline-line-color)), linear-gradient(var(--underline-line-color), var(--underline-line-color));*/
  /*--underline-height: 0.06rem;*/
}

/* Positioning */
/* "top:false,bottom:true" is default!*/
.underlineContainer[data-underline-position="top:false,bottom:false"] {
  --underline-background-hover-size_100pct: 0 0, 0 0;
}
.underlineContainer[data-underline-position="top:true,bottom:false"] {
  --underline-background-hover-size_100pct: 100% var(--underline-height), 0 0;
}
.underlineContainer[data-underline-position="top:false,bottom:true"] {
  --underline-background-hover-size_100pct: 0 0, 100% var(--underline-height);
}
.underlineContainer[data-underline-position="top:true,bottom:true"] {
  --underline-background-hover-size_100pct: 100% var(--underline-height), 100% var(--underline-height);
}
/* --- */

/* Keep visible */
/* "top:false,bottom:true" is default! */
.underlineContainer[data-underline-keep-visible="top:false,bottom:false"] {
  --underline-background-size: 0 0, 0 0;
}
.underlineContainer[data-underline-keep-visible="top:true,bottom:false"] {
  --underline-background-size: 100% var(--underline-height), 0 var(--underline-height);
}
.underlineContainer[data-underline-keep-visible="top:false,bottom:true"] {
  --underline-background-size: 0 var(--underline-height), 100% var(--underline-height);
}
.underlineContainer[data-underline-keep-visible="top:true,bottom:true"] {
  --underline-background-size: 100% var(--underline-height), 100% var(--underline-height);
}

/* Turn off link */
.underlineContainer[data-underline-link-disabled=true] {
  pointer-events: none;
  background-size: 0 0, 0 0;
}

/* Turn off animation */
.underlineContainer[data-underline-animation-disabled=true] {
  --underline-background-hover-size_0pct: var(--underline-background-size);
  --underline-background-hover-size_100pct: var(--underline-background-size);
}
/* ----------- */
/* ----------- */

.underlineContainer {
  text-decoration: none;
  color: var(--underline-font-color);
  background-image: var(--underline-background-image);
  background-size: var(--underline-background-size);
  background-position: var(--underline-background-position);
  background-repeat: no-repeat;
  padding-bottom: 1px;
}

.underlineContainer:is(:hover, :focus, :focus-visible),
.underlineContainer::before,
.underlineContainer::after {
  animation: __underline 0.6s ease;
  color: var(--underline-hover-font-color);
  border-color: var(--underline-line-color);
  background-size: var(--underline-background-hover-size_100pct);
  background-position: var(--underline-background-hover-position);
}

@keyframes __underline {
  0% {
    background-size: var(--underline-background-hover-size_0pct);
  }
  100% {
    background-size: var(--underline-background-hover-size_100pct);
  }
}
/* ================================================================= */

