.manifestionlistContainer {
}

.manifestionlist {
  list-style-type: none;
  border-top: 1px solid var(--iron);
}

.manifestionlist li {
  display: flex;
  justify-content: space-between;
  padding: var(--pt1) var(--pt2) var(--pt1) var(--pt2);
}

.manifestionlist li:nth-child(odd) {
  background: var(--concrete);
}

.manifestionlist li:nth-child(even) {
  background: none;
}

.manifestionPartsButton {
  margin: var(--pt2) 0 var(--pt2) 0;
}

.arrowAndTxtContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
