.manifestionlistContainer {
}

.manifestionlist {
  list-style-type: none;
  border-top: 1px solid var(--iron);
  border-bottom: 1px solid var(--iron);
  margin-bottom: var(--pt2);
}

.manifestionlist li {
  display: flex;
  flex-wrap: wrap;
  padding: var(--pt1) var(--pt2) var(--pt1) var(--pt2);
}

.break {
  flex-basis: 100%;
  width: 0;
}

.title {
  font-family: var(--body-font-semibold);
}

.manifestionlist li p {
  margin: 0 0 0 var(--pt1);
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.manifestionlist li p:first-child {
  min-width: 50%;
}

.rightAlign {
  text-align: right;
}

.playingTime {
  text-align: right;
}

.manifestionlist li:nth-child(odd) {
  background: var(--concrete);
}

.manifestionlist li:nth-child(even) {
  background: none;
}

.contributors {
  color: var(--gray);
  margin-left: var(--pt1);
}

.arrowAndTxtContainer {
  width: 100%;
  display: flex;
  justify-content: left;
}

.arrowchanges {
  display: flex;
  align-items: center;
  padding-left: var(--pt2);
}

@media (max-width: 576px) {
  .manifestionlist li {
    display: block;
    padding: var(--pt1) var(--pt2) var(--pt1) var(--pt2);
  }
  .rightAlign {
    display: block;
    text-align: unset;
  }
}

@media (min-width: 992px) {
  .manifestionlist li p {
    display: inline;
  }
}
