.helpmenu{
    border: 1px solid green;
}

.helpmenugroup{
    background-color: aqua;
}

.helplink{
    border: 1px solid red;
}

.helplink.active{
    font-weight: bolder;
    background-color: red;
}

.none{
    background-color: transparent;
    border: none;
}



.helpheader{
    height: 175px;
}

