.header {
  padding-top: var(--pt4);
  padding-bottom: var(--pt4);
}

.header > div {
  align-items: center;
}

.right {
  display: flex;
}

.right span {
  margin-left: auto;
}

.ask {
  position: relative;
  padding-right: var(--pt3);
  margin-right: var(--pt8);
}

.ask i {
  position: absolute;
  top: calc(var(--pt05) * -1);
  right: 0;
}

/* Logo */

.logoWrap:focus-visible {
  outline: solid 1px var(--blue);
  outline-offset: var(--pt1);
}

.logoWrap:active {
  outline: none;
}

.logo {
  cursor: pointer;
}
