.top {
  padding-top: 240px;
}

.faq {
  padding-top: var(--pt15);
}



.search {
  margin-top: var(--pt3);
}

@media (min-width: 992px) {
  .top {
    padding-top: 176px;
  }
  .back {
    display: initial;
  }
}
