.top {
  padding-top: 240px;
}

.faq {
  padding-top: var(--pt15);
}

.back {
  /* Same height as input field - used to align center*/
  height: var(--pt7);

  display: inline-flex;
  align-items: center;

  /* Hide on mobile */
  display: none;
}

.search {
  margin-top: var(--pt3);
}

@media (min-width: 992px) {
  .top {
    padding-top: 176px;
  }
  .back {
    display: initial;
  }
}
