.details {
}

.details > div {
  margin-bottom: var(--pt4);
}

.title {
  margin: 0 0 var(--pt05) 0;
}

.tooltipinline {
  display: inline-block;
  margin-left: var(--pt1);
  position: absolute;
}

.txtInline {
  display: inline-block;
  white-space: nowrap;
}

.container {
  column-count: 2;
  -webkit-column-count: 2;
  column-gap: 0;
  -webkit-column-gap: 0;
}

.item {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  overflow-wrap: break-word;
  padding-bottom: var(--pt3);
  padding-right: var(--pt3);
  position: relative;
}

@media (min-width: 768px) {
  .details {
    min-height: 75px;
  }

  .container {
    column-count: 4;
    -webkit-column-count: 4;
  }

  .details > div {
    margin-bottom: var(--pt4);
  }
}
