.details {
}

.details > div {
  margin-bottom: var(--pt4);
}

.title {
  margin: 0 0 var(--pt05) 0;
}

@media (min-width: 768px) {
  .details {
    min-height: 75px;
  }

  .details > div {
    margin-bottom: 0;
  }
}
