.details {
}

.details > div {
  margin-bottom: var(--pt4);
}

.title {
  margin: 0 0 var(--pt05) 0;
}

.creatorContributorTextHelper {
  font-weight: bold;
}

.link_list {
  line-height: 22px;
  margin-bottom: calc(var(--pt05) * -0.5);
}

.link {
  white-space: normal;
  display: table;
}

.txtInline {
  display: inline;
}

.pegiimage {
  border: 1px solid var(--iron);
  display: flex;
  padding: var(--pt1);
  align-items: center;
}

.spacemaker {
  min-width: 25%;
}

.imgtext {
  margin-left: var(--pt05);
}

@media (min-width: 768px) {
  .details {
    min-height: 75px;
  }

  .details > div {
    margin-bottom: var(--pt4);
  }
}
