.cleanContainer {
  padding-top: var(--pt8);
  min-height: calc(80vh);
}

.title {
  margin-bottom: var(--pt1);
}

.smallLabel {
  display: block;
  margin-bottom: var(--pt4);
}

.buttonControls {
  display: flex;
  align-content: center;
  margin-bottom: var(--pt4);
}

.selectAllButton {
  margin-right: var(--pt4);
  display: flex;
  align-items: center;
}

.selectAll {
  margin-right: var(--pt1);
}

.orderButton {
  width: 100px;
  margin-right: var(--pt2);
}

.referenceButton {
  margin-right: var(--pt3);
}

.listContainer {
  border-top: 1px solid var(--iron);
}
