.bookmark {
  background-color: transparent;
  border-radius: 50%;
}

.bookmark i {
  cursor: pointer;
  box-shadow: var(--shadow-effect);
}

.bookmark i svg path {
  stroke: var(--gray);
}

/* 
* Hover
*
*/

.bookmark:hover i svg path {
  stroke: blue;
}

.bookmark:hover {
  /* bootstrap outline override */
  outline: none;
}

/* 
* Selected
*
*/

.bookmark.selected i {
  /* Use of important to override dynamic inline style */
  background-color: var(--blue) !important;
}

.bookmark.selected i svg path {
  stroke: var(--white);
}

/* 
* focus
*
*/

.bookmark:focus i svg path {
  stroke: blue;
}

.bookmark:focus {
  /* bootstrap outline override */
  outline: none;
}

.bookmark.selected:focus i svg path {
  stroke: var(--white);
}

/* 
* Skeleton
*
*/

.skeleton {
  position: relative;
  box-shadow: none;
}

.skeleton svg path {
  stroke: transparent !important;
}
