.bookmark {
  background-color: var(--white);
  display: flex;
  border: 1px solid transparent;
}

.bookmark {
  cursor: pointer;
}

.bookmark i svg path {
  stroke: var(--gray);
  /*fill: var(--white);*/
}

/* 
* Hover && focus
*
*/
.bookmark:hover {
  border-color: var(--blue);
}

.bookmark:hover i svg path {
  stroke: blue;
}

.bookmark:focus-visible {
  border-color: black;
}

.bookmark:focus-visible i svg path {
  stroke: blue;
}

/*
* Selected
*
*/
.bookmark.selected {
  border-color: var(--blue);
}

.bookmark.selected:hover {
  border-color: black;
}

.bookmark.selected {
  /* Use of important to override dynamic inline style */
  background-color: var(--blue);
}

.bookmark.selected:hover {
  background-color: black;
}

.bookmark.selected i svg path {
  stroke: var(--white);
  /*fill: var(--blue);*/
}

.bookmark:focus {
  /* bootstrap outline override */
  outline: none;
}

.bookmark.selected:focus i svg path {
  stroke: var(--white);
}

/* 
* Skeleton
*
*/

.skeleton {
  position: relative;
  box-shadow: none;
}

.skeleton svg path {
  stroke: transparent !important;
}
